<div ng-controller="dashboardController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Dashboard</h3></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-6">
					<div class="small-box bg-aqua">
						<div class="inner">
						  <p>NN Chips: {{ balance.nn_chips | formatCurrency }}</p>
						  <p>Junket Chips: {{ balance.junket_chips | formatCurrency }}</p>
						  <p>Cash Chips: {{ balance.cash_chips | formatCurrency }}</p>
						  <p>Cash on hand: {{ balance.cash_real | formatCurrency }}</p>
						</div>
						<div class="icon">
						  <i class="glyphicon glyphicon-copyright-mark"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="small-box bg-green">
						<div class="inner">
						  <h3>{{ balance.rolling | formatCurrency }}</h3>
						  <p>Balance Rolling</p>
						  <br/><br/>
						</div>
						<div class="icon">
						  <i class="glyphicon glyphicon-retweet"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 table-responsive">
					<h5 align="center"><b>Daily Report</b></h5>

					<div class="form-horizontal">
						<form method="post" ng-submit="formDaily()" ng-init="formDaily()">
							<input type="hidden" ng-model="typeDateDaily" />
							<div for="sdd" class="col-sm-5" class="form-group">
								<label class="col-sm-2 control-label">From </label>
								<div class="col-lg-3">
									<input type="number" ng-model="startDateDaily.date" placeholder="DD" min="1" max="31" class="form-control col-md-1">
								</div>
								<div class="col-lg-4">
									<select ng-model="startDateDaily.month" placeholder="MMMM" class="form-control col-md-1">
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-lg-3">
									<input type="number" ng-model="startDateDaily.year" placeholder="YYYY" class="form-control col-md-1">
								</div>
							</div>
							<div for="edd" class="col-sm-5" class="form-group">
								<label class="col-sm-2 control-label">To </label>
								<div class="col-lg-3">
									<input type="number" ng-model="endDateDaily.date" placeholder="DD" min="1" max="31" class="form-control">
								</div>
								<div class="col-lg-4">
									<select ng-model="endDateDaily.month" class="form-control col-md-1">
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-lg-3">
									<input type="number" ng-model="endDateDaily.year" placeholder="YYYY" class="form-control col-md-1">
								</div>
							</div>
							<div class="col-sm-2" class="form-group">
								<button id="reportDaily" type="submit" class="btn btn-primary">Search</button>
							</div>
						</form>
					</div>

					<!--table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs2" dt-instance="dtInstance" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Date</th>
								<th>NN Chip</th>
								<th>Cash Chips</th>
								<th>Cash Real</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in dailyReport">
								<td>{{ data.date | date: 'dd MMM yyyy' }}</td>
								<td align="right">{{ data.nn_chips | formatCurrency }}</td>
								<td align="right">{{ data.cash_chips | formatCurrency }}</td>
								<td align="right">{{ data.cash_real | formatCurrency }}</td>
							</tr>
						</tbody>
					</table-->
					
					<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Customer</th>
								<th>Credit</th>
								<th>Rolling</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in dailyCustomerReport">
								<td>{{ data.customer_name }}</td>
								<td align="right">{{ data.credit | formatCurrency }}</td>
								<td align="right">{{ data.rolling | formatCurrency }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="col-lg-12 table-responsive">
					<h5 align="center"><b>Weekly Report</b></h5>

					<div class="form-horizontal">
						<form method="post" ng-submit="formWeekly()" ng-init="formWeekly()">
							<input type="hidden" ng-model="typeDateWeekly" />
							<div class="col-sm-5" class="form-group">
								<label class="col-sm-2 control-label">From </label>
								<div class="col-lg-3">
									<input type="number" ng-model="startDateWeekly.date" placeholder="DD" class="form-control col-md-1">
								</div>
								<div class="col-lg-4">
									<select ng-model="startDateWeekly.month" placeholder="MMMM" class="form-control col-md-1">
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-lg-3">
									<input type="number" ng-model="startDateWeekly.year" placeholder="YYYY" class="form-control col-md-1">
								</div>
							</div>
							<div class="col-sm-5" class="form-group">
								<label class="col-sm-2 control-label">To </label>
								<div class="col-lg-3">
									<input type="number" ng-model="endDateWeekly.date" placeholder="DD" class="form-control">
								</div>
								<div class="col-lg-4">
									<select ng-model="endDateWeekly.month" class="form-control col-md-1">
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-lg-3">
									<input type="number" ng-model="endDateWeekly.year" placeholder="YYYY" class="form-control col-md-1">
								</div>
							</div>
							<div class="col-sm-2" class="form-group">
								<button id="reportWeekly" type="submit" class="btn btn-primary">Search</button>
							</div>
						</form>
					</div>

					<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Date</th>
								<th>Chip</th>
								<th>Rolling</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in weeklyReport">
								<td>{{ data.date }}</td>
								<td align="right">{{ data.chip | formatCurrency }}</td>
								<td align="right">{{ data.rolling | formatCurrency }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="col-lg-12 table-responsive">
					<h5 align="center"><b>Monthly Report</b></h5>

					<div class="form-horizontal">
						<form method="post" ng-submit="formMonthly()" ng-init="formMonthly()">
							<input type="hidden" ng-model="typeDateMonthly" />
							<div class="col-sm-5" class="form-group">
								<label class="col-sm-2 control-label">From </label>
								<div class="col-lg-7">
									<input type="hidden" ng-model="startDateMonthly.date" placeholder="DD" class="form-control col-md-1">
									<select ng-model="startDateMonthly.month" placeholder="MMMM" class="form-control col-md-1">
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-lg-3">
									<input type="number" ng-model="startDateMonthly.year" placeholder="YYYY" class="form-control col-md-1">
								</div>
							</div>
							<div class="col-sm-5" class="form-group">
								<label class="col-sm-2 control-label">To </label>
								<div class="col-lg-7">
									<input type="hidden" ng-model="endDateMonthly.date" placeholder="DD" class="form-control">
									<select ng-model="endDateMonthly.month" class="form-control col-md-1">
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-lg-3">
									<input type="number" ng-model="endDateMonthly.year" placeholder="YYYY" class="form-control col-md-1">
								</div>
							</div>
							<div class="col-sm-2" class="form-group">
								<button id="reportMonth" type="submit" class="btn btn-primary">Search</button>
							</div>
						</form>
					</div>
					
					<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Date</th>
								<th>Chip</th>
								<th>Rolling</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in monthlyReport">
								<td>{{ data.date }}</td>
								<td align="right">{{ data.chip | formatCurrency }}</td>
								<td align="right">{{ data.rolling | formatCurrency }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
