<div class="login-box" ng-init="redirectAuth()">
  <div class="login-logo">
	<div class="row"><div class="col-xs-6 col-md-3"><img height="65" src="public/img/logo_.png"></div></div>
	<a href=""><b>Junket</b> System</a>
  </div><!-- /.login-logo -->  
  <div class="alert alert-danger" role="alert" ng-show="showAlert()">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{alert}}
  </div>
  <div class="login-box-body">
	<p class="login-box-msg">Login Form</p>
	<form id="formdata" name="formdata" method="post" ng-submit="login()">
	  <div class="form-group has-feedback">
		<input id="username" name="username" ng-model="fd.username" type="text" required class="form-control" placeholder="Username">
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	  </div>
	  <div class="form-group has-feedback">
		<input id="password" name="password" ng-model="fd.password" type="password" required class="form-control" placeholder="Password">
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	  </div>
	  <div class="row">
		<div class="col-xs-8" style="display:none;">
		  <label>
			<input type="checkbox"> Remember Me
		  </label>
		</div><!-- /.col -->
		<div class="col-xs-4">
		  <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="formdata.$invalid">Sign In</button>
		</div><!-- /.col -->
	  </div>
	</form>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->