<div ng-controller="bankController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Transaction Bank</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<!-- Add Modal -->
					<form id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="table-responsive">
							<div class="form-horizontal">
								<div class="col-sm-6 form-group">
									<label for="ref_no" class="col-sm-5 control-label left-important">Ref. Number</label>
									<div class="col-sm-7"><input type="text" ng-model="fd.ref_no" id="ref_no" class="form-control"></div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="date" class="col-sm-5 control-label left-important">Date</label>
									<div class="col-sm-7"><input type="text" ui-date="dateOptions" id="date_form" class="form-control" ng-model="fd.date"  ng-required="true"></div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="pic" class="col-sm-5 control-label left-important">Pay To/Received From</label>
									<div class="col-sm-7"><input type="text" ng-model="fd.pic" id="pic" class="form-control"></div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="in/out" class="col-sm-5 control-label left-important">In/Out</label>
									<div class="col-sm-7">
										<select name="credit_debit" id="credit_debit" class="form-control" ng-model="fd.credit_debit">
											<option value="IN">IN</option>
											<option value="OUT">OUT</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="amount" class="col-sm-5 control-label left-important">Amount</label>
									<div class="col-sm-7">
										<input type="text" id="amount" name="amount" class="form-control currency" ng-model="fd.amount" ng-required="true" currency-input minim="0">
										<div class="error-message" ng-messages="formdata.amount.$error">
											<div ng-message="minim">
												Cannot Less than 0.
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getPaymentMethod()" ng-if="false">
									<label for="payment_method" class="col-sm-5 control-label left-important">Payment Method</label>
									<div class="col-sm-7">
										<select id="payment_method"  class="form-control" ng-model="fd.payment_method_id" ng-options="payment_method.id as payment_method.name for payment_method in paymentMethodOption" ng-required="true">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getBank()" ng-if="false">
									<label for="bank" class="col-sm-5 control-label left-important">Bank</label>
									<div class="col-sm-7">
										<select id="bank"  class="form-control" ng-model="fd.bank_id" ng-options="bank.id as bank.name for bank in bankOption" ng-required="true">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getBankAcc()">
									<label for="bank_account" class="col-sm-5 control-label left-important">Bank A/C</label>
									<div class="col-sm-7">
										<select id="bank"  class="form-control" ng-model="fd.bank_account_id" ng-options="bankAcc.id as bankAcc.name for bankAcc in bankAccOption" ng-required="true">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="remark" class="col-sm-5 control-label left-important">Remark</label>
									<div class="col-sm-7">
										<textarea id="remark"  class="form-control" ng-model="fd.remark" ng-required="true">
										</textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12" align="right">
							<div class="form-group col-sm-12">
								<button type="submit"
										ng-disabled="formdata.$invalid"
										class="btn btn-success"
										ng-click>
									Save
								</button>
								<button type="button"
										ng-click="cancel()"
										class="btn btn-danger"
										data-dismiss="modal">
									Cancel
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
