<div ng-controller="calendarActivityController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Calendar Activity</h3></div>
		<div class="panel-body">
			<div class="alert alert-danger" role="alert" ng-show="showAlert()">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="showSuccess()">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div data="events" dhx-scheduler class="dhx-size">
						<div class="dhx_cal_prev_button">&nbsp;</div>
						<div class="dhx_cal_next_button">&nbsp;</div>
						<div class="dhx_cal_today_button"></div>
						<div class="dhx_cal_date"></div>
						<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
						<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
						<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
						<div dhx-template="event_bar_text">
							<strong>#{{event.id}}</strong>: {{event.text | uppercase}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>

.dhx-size {
	margin-top: 10px;

	min-height:600px;
	min-width:280px;

	max-height:800px;
	max-width:1000px;
}

@media screen and (max-width: 767px) {
	.dhx_cal_larea {
			width: auto !important;
			margin-left: 0 !important;
			height: 100% !important;
	}

	.dhx_wrap_section, .dhx_cal_ltitle, .dhx_cal_larea {
			position: relative !important;
			display: block !important;
			overflow: initial !important;
	}

	.dhx_wrap_section .dhx_section_time {
			height: 100% !important;
	}

	/*time period section*/
	.dhx_section_time {
		display: inline-block;
		vertical-align: middle;
		min-height: 0;
		position: relative;
		width: inherit;
		height: auto !important;
		width: 100% !important;
	}

	.dhx_section_time select {
			position: relative;
			min-height: 1px;
			float: left;
			width: 25%;
			margin-bottom: 5px !important;
	}
}
</style>
