<div ng-controller="commissionGenting2Controller">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Commission Genting 2</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			
			<div class="row" ng-init="getBalance()">
				<span class="col-sm-3">
					<label for="nn_chips">NN Chips</label>
					<input type="text" class="form-control currency" id="nn_chips" name="nn_chips" ng-model="g2.nn_chips" disabled currency-input>
				</span>
				<span class="col-sm-3">
					<label for="junket_nn_chips">NN Junket Chips</label>
					<input type="text" class="form-control currency" id="junket_chips" name="junket_chips" ng-model="g2.junket_chips" disabled currency-input>
				</span>
				<span class="col-sm-3">
					<label for="cash_chips">Cash Chips</label>
					<input type="text" class="form-control currency" id="cash_chips" name="cash_chips" ng-model="g2.cash_chips" disabled currency-input>
				</span>
				<span class="col-sm-3">
					<label for="cash_real">Cash Real</label>
					<input type="text" class="form-control currency" id="cash_real" name="cash_real" ng-model="g2.cash_real" disabled currency-input>
				</span>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-2" align="center">
									<button id="add" type="button" class="btn btn-primary" ng-click="add()">Add Commission</button>
								</div>
								<div class="col-md-4"></div>
								<div class="col-md-6" align="center">
									<div class="col-md-6"></div>
									<form method="post" ng-submit="loadData()">
										<div class="col-sm-4">
											<input type="text" id="search" class="form-control" ng-model="search">
										</div>
										<div class="col-sm-2">
											<button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-body" ng-init="loadData()">
							<div class="table-responsive">
								<table datatable_="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-important">No</th>
											<th>
												<a href="" ng-click="sort('date')">
													Date
													<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'date' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('buy_from')">
													Buy From
													<span ng-show="sortType == 'buy_from' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'buy_from' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('type_chip')">
													Type of chip
													<span ng-show="sortType == 'type_chip' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'type_chip' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('entity')">
													Agent/ <br/>Boss
													<span ng-show="sortType == 'entity' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'entity' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('name')">
													Name
													<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'name' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('amount')">
													Amount
													<span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('commission')">
													Commission %
													<span ng-show="sortType == 'commission' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'commission' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('commission_payout')">
													Commission <br/>Payout
													<span ng-show="sortType == 'commission_payout' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'commission_payout' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listData.data">
											<td align="center">{{ $index+1 }}</td>
											<td>{{ data.date|date:'dd-MM-yyyy' }}</td>
											<td>{{ data.buy_from }}</td>
											<td>{{ data.type_chip }}</td>
											<td>{{ data.entity }}</td>
											<td>{{ data.name }}</td>
											<td align="right">{{ data.amount | formatCurrency }}</td>
											<td>{{ data.commission }}</td>
											<td align="right">{{ data.commission_payout | formatCurrency }}</td>
											<td>
												<button class="btn btn-xs btn-default" type="button" ng-click="edit(data.id)">
												<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
												</button>
												<!-- Delete Modal -->
												<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												  <div class="modal-dialog">
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Delete commission <strong>{{ data.name }}</strong></h4>
													  </div>
													  <div class="modal-body">
														<div class="alert alert-danger" role="alert">Are you sure you want to delete this commission?</div>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-danger" data-ng-click="delete(data.id)" data-dismiss="modal">Delete</button>
													  </div>
													</div>
												  </div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<br/>
								Total Page : {{ listData.last_page }} - Total Data : {{ listData.total }}
						  	</div>
						  	<div class="col-sm-6" style="text-align:right;">
								<ul class="pagination">
									<li ng-class="{'disabled' : listData.current_page==1}">
										<a href="" ng-show="{{ listData.current_page!=1 }}" aria-label="Previous" ng-click="paging(listData.current_page-1)">
										<span aria-hidden="true">Previous</span>
										</a>
										<span ng-show="{{ listData.current_page==1 }}" aria-hidden="true">Previous</span>
									</li>
									<li ng-repeat="n in range(1,(listData.last_page))" ng-show="showPage(n)" ng-class="{'active':listData.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
									<li ng-class="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
										<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(listData.current_page+1)">
										<span aria-hidden="true">Next</span>
										</a>
										<span ng-show="isLastPage()" aria-hidden="true">Next</span>
									</li>
								</ul>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
