<div ng-controller="commissionGenting2Controller">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Commission Genting 2</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>
						
						<div class="row">
							<fieldset class="col-sm-12">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="date">Date</label>
										<div class="col-sm-8">
											<input type="text" id="date" name="date" class="form-control" ui-date="dateOptions" ng-model="fd.date" required>
										</div>
									</div>
									<div class="form-group" ng-hide="true">
										<label class="col-sm-4 control-label left-important" for="user_id">Person In Charge</label>
										<div class="col-sm-8">
											<input type="hidden" id="user_id" name="user_id" class="form-control" ng-model="fd.user_id">
											<input type="text" id="user" name="user" class="form-control" ng-model="fd.username">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="buy_from">Buy From</label>
										<div class="col-sm-8">
											<input type="text" id="buy_from" name="buy_from" class="form-control" ng-model="fd.buy_from">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="type_chip">Type of chip</label>
										<div class="col-sm-8">
											<select id="type_chip" name="type_chip" class="form-control" ng-model="fd.type_chip">
												<option value="Junket NN Chips">Junket NN Chips</option>
												<option value="NN Chips">NN Chips</option>
												<option value="Cash Chips">Cash Chips</option>
											</select>
										</div>
									</div>
									<div class="form-group" ng-init="getEntity()">
										<label class="col-sm-4 control-label left-important" for="entity">Agent/Boss</label>
										<div class="col-sm-3">
											<select id="entity" name="entity" class="form-control" ng-model="fd.entity" ng-change="setEntity()">
												<option value="agent">Agent</option>
												<option value="boss">Boss</option>
											</select>
										</div>
										<div class="col-sm-5">
											<select id="entity_id" name="entity_id" class="form-control" ng-model="fd.entity_id" ng-options="entity.id as entity.name for entity in entityOption">
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="amount">Amount</label>
										<div class="col-sm-8">
											<input type="text" id="amount" name="amount" class="form-control currency" ng-model="fd.amount" ng-keyup="calCommissionPayout()" currency-input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="commission">Commission %</label>
										<div class="col-sm-8">
											<input type="text" id="commission" name="commission" class="form-control currency" ng-model="fd.commission" ng-keyup="calCommissionPayout()" currency-input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="commission_payout">Commission Payout</label>
										<div class="col-sm-8">
											<input type="text" id="commission_payout" disabled name="commission_payout" class="form-control currency" ng-model="fd.commission_payout" currency-input>
										</div>
									</div>
								</div>
							</fieldset>
						</div>

						<div class="form-group col-lg-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
