<div ng-controller="paymentDebitController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Payment Received</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<!-- Add Modal -->
					<form id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="table-responsive">
							<div class="form-horizontal">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="number" class="col-sm-5 control-label left-important">Receive Number</label>
										<div class="col-sm-7"><input type="text" ng-disabled="true" ng-model="fd.number" id="number" class="form-control"></div>
									</div>
									<div class="form-group">
										<label for="date" class="col-sm-5 control-label left-important">Date</label>
										<div class="col-sm-7"><input type="text" ui-date="dateOptions" id="date_form" class="form-control" ng-model="fd.date"  ng-required="true"></div>
									</div>
									<div class="form-group">
										<label for="debt_source" class="col-sm-5 control-label left-important">Source</label>
										<div class="col-sm-7">
											<select id="debt_source"  class="form-control" ng-model="fd.debt_source" ng-required="true" ng-options="opt.id as opt.label for opt in debtSourceOptions" ng-change="changeSource()"></select>
										</div>
									</div>
									<div class="form-group" ng-init="getCustomer()">
										<label for="pic" class="col-sm-5 control-label left-important">From</label>
										<div class="col-sm-7">
											<select id="customer"  class="form-control" ng-model="fd.customer_id" ng-options="opt.id as opt.label_name for opt in sourceOptions" ng-required="true" ng-change="getDebts()"></select>
										</div>
									</div>
									<div class="form-group">
										<label for="user_id" class="col-sm-5 control-label left-important">Handle By</label>
										<div class="col-sm-7">
											<input type="hidden" id="user_id" class="form-control" ng-model="fd.user_id">
											<input type="text" id="username" class="form-control" ng-model="fd.user.name" readonly>
										</div>
									</div>
									<div class="form-group">
										<label for="remark" class="col-sm-5 control-label left-important">Remark</label>
										<div class="col-sm-7">
											<textarea id="remark"  class="form-control" ng-model="fd.remark" ng-required="true">
											</textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="remark" class="col-sm-5 control-label left-important">Image</label>
										<div class="col-sm-7">
											<input type="file" id="image" class="form-control" ng-model="fd.image" ngf-select ngf-accept="'image/*'">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-init="getPaymentMethod()">
										<label for="payment_method_id" class="col-sm-5 control-label left-important">Payment Method</label>
										<div class="col-sm-7">
											<select id="payment_method_id"  class="form-control" ng-model="fd.payment_method_id" ng-options="payment_method.id as payment_method.name for payment_method in paymentMethodOption" ng-required="true" ng-change="setMethod()">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="bank_id" class="col-sm-5 control-label left-important">Payment Mode</label>
										<div class="col-sm-7">
											<select id="payment_mode" class="form-control" ng-model="fd.payment_mode" ng-disabled="is_bank==1">
												<option value="Cash">Cash</option>
												<option value="Junket Chip">Junket NN Chip</option>
												<option value="NN Chip">NN Chip</option>
												<option value="Cash Chip">Cash Chip</option>
											</select>
										</div>
									</div>
									<div class="form-group" ng-init="getStaff()">
										<label for="staff_id" class="col-sm-5 control-label left-important">Staff</label>
										<div class="col-sm-7">
											<select id="staff_id"  class="form-control" ng-model="fd.staff_id" ng-options="staff.id as staff.name for staff in staffOption" ng-required="is_bank==0" ng-disabled="is_bank==1">
											</select>
										</div>
									</div>
									<div class="form-group" ng-init="getBank()" ng-if="false">
										<label for="bank_id" class="col-sm-5 control-label left-important">Bank</label>
										<div class="col-sm-7">
											<select id="bank_id"  class="form-control" ng-model="fd.bank_id" ng-options="bank.id as bank.name for bank in bankOption" ng-required="is_bank==1" ng-disabled="is_bank==0">
											</select>
										</div>
									</div>
									<div class="form-group" ng-init="getBankAcc()">
										<label for="bank_account_id" class="col-sm-5 control-label left-important">Account to</label>
										<div class="col-sm-7">
											<select id="bank_account_id"  class="form-control" ng-model="fd.bank_account_id" ng-options="bankAcc.id as bankAcc.name for bankAcc in bankAccOption" ng-required="is_bank==1">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="amount_due" class="col-sm-5 control-label left-important">Amount Due</label>
										<div class="col-sm-7">
											<input type="text" id="amount_due" name="amount_due" class="form-control currency" ng-model="fd.amount_due" ng-required="true" ng-disabled="true" currency-input>
										</div>
									</div>
									<div class="form-group">
										<label for="amount" class="col-sm-5 control-label left-important">Payment Amount</label>
										<div class="col-sm-7">
											<input type="text" id="amount" name="amount" class="form-control currency" ng-model="fd.amount" ng-required="true" ng-disabled="false" ng-keyup="keyAmountHead()" currency-input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
						
					<br/>
					<table class="table table-bordered table-striped">
						<tr>
							<th>Date</th>
							<th>Amount Debt</th>
							<th>Amount Due</th>
							<th>Payment Amount</th>
						</tr>
						<tr ng-repeat="data in dataDetail">
							<td ng-click="selecting(data.customer_debt_id)">{{data.date|date: 'dd-MM-yyyy'}}</td>
							<td ng-click="selecting(data.customer_debt_id)" align="right">{{data.amount_original | formatCurrency}}</td>
							<td ng-click="selecting(data.customer_debt_id)" align="right">{{data.amount_due | formatCurrency}}</td>
							<td ng-click="selecting(data.customer_debt_id)" align="right"><span ng-show="select==0 || select!=data.customer_debt_id">{{data.amount | formatCurrency}}</span><input ng-show="select==data.customer_debt_id" type="text" class="form-control currency" name="selected_payment" id="selected_payment" ng-model="dataDetail[$index].amount" ng-keyup="$event.keyCode == 13 && validPayment($index)" currency-input autofocus>
							</td>
						</tr>
					</table>
					
					<div class="col-sm-12" align="right">
						<div class="form-group">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success"
									ng-click="save()">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>
