<div ng-controller="purchasesFromCustomerController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Sell NN Chips</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<!-- Add Modal -->
					<form id="formdata" name="formdata" method="post" novalidate ng-submit="save()" ng-init="initData();getEdit();">
						<div class="table-responsive">
							<div class="form-horizontal">
								<div class="col-sm-6" class="form-group">
									<label for="title" class="col-sm-5 control-label">&nbsp;</label>
									<div class="col-sm-7"><input type="hidden" id="title" class="form-control" ng-required="true" ng-Readonly="true"></div>
								</div>
								<div class="col-sm-6"><label class="col-sm-12 control-label">&nbsp;</label></div>
								<div class="col-sm-6 form-group">
									<label for="date" class="col-sm-5 control-label left-important">Date</label>
									<div class="col-sm-7"><input type="text" ui-date="dateOptions" id="date_form" class="form-control" placeholder="yyyy-mm-dd" ng-model="fd.date"  ng-required="true"></div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getCustomer()">
									<label for="vendor" class="col-sm-5 control-label left-important">Customer</label>
									<div class="col-sm-7">
										<select id="customer_id"  class="form-control" ng-model="fd.customer_id" ng-options="customer.id as customer.first_name for customer in customerOption" ng-change="changeCust()" ng-required="true">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="commission_percent" class="col-sm-5 control-label left-important">Check In %</label>
									<div class="col-sm-7">
										<input type="text" id="commission_percent" name="commission_percent" class="form-control" ng-model="fd.commission_percent">
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getAccount()">
									<label for="account_id" class="col-sm-5 control-label left-important">Account</label>
									<div class="col-sm-7">
										<select id="account_id" class="form-control" ng-model="fd.account_id" ng-options="account.id as account.name for account in accountOption" ng-required="true">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="chip" class="col-sm-5 control-label left-important">Type Chip</label>
									<div class="col-sm-7">
										<select  class="form-control" name="type_chip" ng-model="fd.type_chip" ng-required="true">
											<option value="NN Chips">NN Chips</option>
											<option value="Junket NN Chips">Junket NN Chips</option>
											<option value="Cash Chips">Cash Chips</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="customer_type_id" class="col-sm-5 control-label left-important">Customer Type</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" id="customer_type" name="customer_type" ng-model="fd.customer.customer_type.name" readonly>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="value" class="col-sm-5 control-label left-important">Chips</label>
									<div class="col-sm-7">
										<input type="text" id="value" name="value" class="form-control currency" ng-model="fd.value" currency-input minim="0" ng-keyup="calCommission()">
										<div class="error-message" ng-messages="formdata.value.$error">
											<div ng-message="minim">
												Cannot Less than 0.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12" align="right">
							<div class="form-group col-sm-12">
								<button type="submit"
										ng-disabled="formdata.$invalid"
										class="btn btn-success"
										ng-click>
									Save
								</button>
								<button type="button"
										ng-click="cancel()"
										class="btn btn-danger"
										data-dismiss="modal">
									Cancel
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
