<div ng-controller="shiftTransferController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Add Shift Transfer</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="showAlert()">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="showSuccess()">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="panel panel-default">
						<div class="panel-body form-horizontal">
							<form id="formdata" name="formdata" ng-submit="save()" method="post">
							<input type="hidden" ng-model="fd.id">
								<div class="row">
									<div class="form-horizontal" ng-init="get_manager()">
										<div class="col-sm-6">
											<label for="date" class="col-sm-5 control-label left-important">Date</label>
											<div class="col-sm-7"><input type="text" ui-date="dateOptions" id="date" class="form-control" placeholder="YYYY-MM-DD" ng-model="fd.date" ng-required="true" ng-readonly="false"></div>
										</div>
										<br/><br/><br/>
										<div class="col-sm-6">
											<label for="title" class="col-sm-5 control-label left-important">From {{entity}}</label>
											<div class="col-sm-7">
												<select id="fromManager"  class="form-control" ng-model="fd.from_user_id" ng-options="get_manager.id as get_manager.name for get_manager in managerOption" ng-disabled="user.roles=='Manager' || shift_transfer == 1">
												</select>
												<input type="hidden" ng-model="fd.from_user_id" ng-required="true">
											</div>
										</div>
										<div class="col-sm-6">
											<span class="col-sm-1 control-label"><i class="glyphicon glyphicon-arrow-right"></i></span>
											<label for="toManager" class="col-sm-4 control-label left-important">To {{entity}}</label>
											<div class="col-sm-7">
												<select id="toManager"  class="form-control" ng-model="fd.to_user_id" ng-options="get_manager.id as get_manager.name for get_manager in (managerOption | filter:{id:'!'+fd.from_user_id})" ng-required="true" ng-disabled="shift_transfer == 1">
												</select>
											</div>
										</div>
										<br/><br/><br/>
										<div class="col-sm-6">
											<label for="title" class="col-sm-5 control-label left-important">From Shift</label>
											<div class="col-sm-7 control-label">
												<input type="radio" name="shift_from" value="Morning" ng-model="fd.shift_from" ng-checked="fd.shift_from == 'Morning'" ng-change="shift_from()" ng-required="true" ng-disabled="shift_transfer == 1"> Morning
												<input type="radio" name="shift_from" value="Night" ng-model="fd.shift_from" ng-checked="fd.shift_from == 'Night'" ng-change="shift_from()" ng-disabled="shift_transfer == 1"> Night
											</div>
										</div>
										<div class="col-sm-6">
											<span class="col-sm-1 control-label"><i class="glyphicon glyphicon-arrow-right"></i></span>
											<label for="title" class="col-sm-4 control-label left-important">To Shift</label>
											<div class="col-sm-7 control-label">
												<input type="radio" name="shift_to" value="Morning" ng-model="fd.shift_to" ng-checked="fd.shift_to == 'Morning'" ng-change="shift_to()" ng-disabled="shift_transfer == 1"> Morning
												<input type="radio" name="shift_to" value="Night" ng-model="fd.shift_to" ng-checked="fd.shift_to == 'Night'" ng-change="shift_to()" ng-disabled="shift_transfer == 1"> Night
											</div>
										</div>
									</div>
									<br><br><br>
									<div class="row">
										<div class="col-sm-6">
											<div class="col-sm-12">
												<label for="nn_chips" class="col-sm-5 control-label left-important">NN Chips</label>
												<div class="col-sm-7">
													<input type="text" id="nn_chips" name="nn_chips" class="form-control currency" ng-model="fd.nn_chips" ng-required="true" ng-disabled="shift_transfer == 1" currency-input minim="0">
													<div class="error-message" ng-messages="formdata.nn_chips.$error">
														<div ng-message="minim">
															Cannot Less than 0.
														</div>
													</div>
												</div>
											</div>
											<br><br><br>
											<div class="col-sm-12">
												<label for="cash_chips" class="col-sm-5 control-label left-important">Cash Chips</label>
												<div class="col-sm-7">
													<input type="text" id="cash_chips" name="cash_chips" class="form-control currency" ng-model="fd.cash_chips" ng-required="true" ng-disabled="shift_transfer == 1" currency-input minim="0">
													<div class="error-message" ng-messages="formdata.cash_chips.$error">
														<div ng-message="minim">
															Cannot Less than 0.
														</div>
													</div>
												</div>
											</div>
											<br><br><br>
											<div class="col-sm-12">
												<label for="cash_real" class="col-sm-5 control-label left-important">Cash Real</label>
												<div class="col-sm-7">
													<input type="text" id="cash_real" name="cash_real" class="form-control currency" ng-model="fd.cash_real" ng-required="true" ng-disabled="shift_transfer == 1" currency-input minim="0">
													<div class="error-message" ng-messages="formdata.cash_real.$error">
														<div ng-message="minim">
															Cannot Less than 0.
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="col-sm-12">
												<div class="col-sm-12" align="center">
													<button class="col-sm-12 btn btn-primary btn-lg" type="submit"
									                    ng-disabled="formdata.$invalid"
									                    class="btn btn-success" ng-hide="shift_transfer == 1 || shift_transfer == 2" ng-show="shift_transfer == 0">Transfer To Next Shift</button>
									                <button class="col-sm-12 btn btn-primary btn-lg"
									                type="button"
									                    ng-disabled="formdata.$invalid"
									                    class="btn btn-success" ng-hide="shift_transfer == 0 || shift_transfer == 2" ng-show="shift_transfer == 1" ng-click="update_form()">Update</button>
									                <button class="col-sm-12 btn btn-primary btn-lg"
									                    ng-disabled="formdata.$invalid"
									                    class="btn btn-success" ng-hide="shift_transfer == 0 || shift_transfer == 1" ng-show="shift_transfer == 2">Save</button>
												</div>
											</div>
											<br><br><br>
											<div class="col-sm-12">
												<div class="col-sm-12" align="center">
													<button type="button" class="col-sm-12 btn btn-danger btn-lg" type="clear" ng-click="reset()">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="panel-body table-responsive">
						<h3>Today Transfer</h3>
						<table class="table table-bordered table-striped" ng-init="loadData()">
							<thead>
								<tr>
									<th>
										<a href="" ng-click="sort('date')">
											Date
											<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'date' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>
										<a href="" ng-click="sort('from_user')">
											From Manager
											<span ng-show="sortType == 'from_user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'from_user' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>
										<a href="" ng-click="sort('to_user')">
											To Manager
											<span ng-show="sortType == 'to_user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'to_user' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>
										<a href="" ng-click="sort('shift_from')">
											Shift From
											<span ng-show="sortType == 'shift_from' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'shift_from' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>
										<a href="" ng-click="sort('shift_to')">
											Shift To
											<span ng-show="sortType == 'shift_to' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'shift_to' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>
										<a href="" ng-click="sort('nn_chips')">
											NN Chips
											<span ng-show="sortType == 'nn_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'nn_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>
										<a href="" ng-click="sort('cash_chips')">
											Cash Chips
											<span ng-show="sortType == 'cash_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'cash_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>
										<a href="" ng-click="sort('cash_real')">
											Cash Real
											<span ng-show="sortType == 'cash_real' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'cash_real' && sortReverse" class="fa fa-sort-amount-desc"></span>
										  </a>
									</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="shift in listData.data">
									<td>{{ shift.date | date: "dd MMM yyyy" }}</td>
									<td>{{ shift.from_user.name }}</td>
									<td>{{ shift.to_user.name }}</td>
									<td>{{ shift.shift_from | shiftMorningNight }}</td>
									<td>{{ shift.shift_to | shiftMorningNight }}</td>
									<td>{{ shift.nn_chips }}</td>
									<td>{{ shift.cash_chips }}</td>
									<td>{{ shift.cash_real }}</td>
									<td>
										<button class="btn btn-xs btn-default" type="button" ng-click="getEdit(shift.id)">
											<i class="glyphicon glyphicon-edit"></i>
										</button>
										<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
											<i class="glyphicon glyphicon-trash"></i>
										</button>
										<!-- Delete Modal -->
										<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Delete Shift Transfer <strong></strong></h4>
											  </div>
											  <div class="modal-body">
												<div class="alert alert-danger" role="alert">Are you sure you want to delete this shift transfer?</div>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-danger" data-ng-click="delete(shift.id)" data-dismiss="modal">Delete</button>
											  </div>
											</div>
										  </div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="col-sm-6">
							<br/>
							Total Page : {{ listData.last_page }} - Total Data : {{ listData.total }}
						</div>
						<div class="col-sm-6" style="text-align:right;">
							<ul class="pagination">
								<li ng-class="{'disabled' : listData.current_page==1}">
									<a href="" ng-show="{{ listData.current_page!=1 }}" aria-label="Previous" ng-click="paging(listData.current_page-1)">
									<span aria-hidden="true">Previous</span>
									</a>
									<span ng-show="{{ listData.current_page==1 }}" aria-hidden="true">Previous</span>
								</li>
								<li ng-repeat="n in range(1,(listData.last_page))" ng-show="showPage(n)" ng-class="{'active':listData.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
								<li ng-class="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
									<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(listData.current_page+1)" ng-disabled="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
									<span aria-hidden="true">Next</span>
									</a>
									<span ng-show="isLastPage()" aria-hidden="true">Next</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
