<div ng-controller="TipsManagementController">

    <div class="panel panel-default box">
        <div class="panel-heading"><h3>Tips Management</h3></div>
        <div class="panel-body">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{alert}}
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="success!=''">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{success}}
                    </div>
                    <!-- Add Modal -->
                    <form id="formdata" name="formdata" method="post" class="form-horizontal ng-pristine ng-valid ng-valid-required" novalidate ng-submit="save()" ng-init="initData();getEdit();">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="tips_trip" class="col-sm-4 control-label left-important">Trip ID</label>
								<div class="col-sm-8">
									<select id="tips_trip" class="form-control" ng-model="fd.trans_id" ng-options="opt.transaction_no for opt in openTrans track by opt.id" ng-change="getTrans()" ng-disabled="editMod"><option></option></select>
								</div>
							</div>
							<div class="form-group">
								<label for="tips_cname" class="col-sm-4 control-label left-important">Customer Name</label>
								<div class="col-sm-8">
									<select id="tips_trip" class="form-control" ng-options="opt.last_name + ' ' + opt.first_name for opt in customers track by opt.id" ng-model="fd.customer_id" disabled="disabled"><option></option></select>
								</div>
							</div>
							<div class="form-group">
								<label for="tips_runner" class="col-sm-4 control-label left-important">Runner</label>
								<div class="col-sm-8">
									<select id="runner" class="form-control" ng-options="opt.name for opt in runners track by opt.id" ng-model="fd.employee_id" disabled="disabled"></select>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="trans_date" class="col-sm-4 control-label left-important">Date</label>
								<div class="col-sm-8">
									<input type="text" ui-date="dateOptions" id="trans_date" class="form-control" placeholder="yyyy-mm-dd" ng-model="fd.trans_date"  ng-required="true">
								</div>
							</div>
							<div class="form-group">
								<label for="tips_amount" class="col-sm-4 control-label left-important">Amount</label>
								<div class="col-sm-8">
									<input type="number" id="tips_amount" class="form-control" ng-model="fd.amount" placeholder="Amount" required="required">
								</div>
							</div>
						</div>

                        <div class="col-sm-12" align="right">
                            <div class="form-group col-sm-12">
                                <button type="submit"
                                        ng-disabled="formdata.$invalid"
                                        class="btn btn-success"
                                        ng-click>
                                    Save
                                </button>
                                <button type="button"
                                        ng-click="cancel()"
                                        class="btn btn-danger"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
