<div ng-controller="tripController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Customer Open Trip</h3></div>
		<div class="panel-body">
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<div class="panel panel-default" ng-init="assign=0" ng-show="assign==1">
				<div class="panel-heading">
					<div class="row">
						<span class="col-xs-7"><h4>Assign Trip</h4></span>
						<span class="col-xs-5" align="right">
							<button type="button" class="btn btn-danger" id="close" name="close" ng-click="assign=0">Close</button>
						</span>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-5">
									<label>Assign From</label>
									<input type="input" class="form-control" ng-model="user.name" ng-disabled="true">
								</div>
								<div class="col-sm-5">
									<label>Date</label>
									<input type="text" ui-date="dateOptions" class="form-control" ng-model="assignDate">
								</div>
								<div class="col-sm-2">
									<label>&nbsp;</label><br/>
									<button class="btn btn-default btn-xs" ng-click="loadAssignFrom()"><i class="glyphicon glyphicon-retweet"></i></button>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-bordered" ng-init="loadAssignFrom()">
									<thead>
										<tr>
											<th></th>
											<th>Person In Charge</th>
											<th>Client Name</th>
											<th>Remark</th>
											<th>Credit</th>
											<th>Commission</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="row in assignFromData">
											<td><input type="checkbox" ng-model="assignID[$index]" ng-true-value="{{row.id}}" ng-false-value="0" ng-value="row.id"></td>
											<td>{{ row.user.name }}</td>
											<td>{{ row.customer.last_name }} {{ row.customer.first_name }}</td>
											<td>{{ row.remarks }}</td>
											<td align="right">{{ row.nn_chips | formatCurrency }}</td>
											<td>{{ row.commission }}%</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div align="right">
								<button class="btn btn-primary" ng-click="assigning()">Assign</button>
							</div>
						</div>
						<div class="col-sm-6" ng-init="getUser()">
							<label>Assign To</label>
							<select class="form-control" ng-model="assign_to" ng-options="user.id as user.name for user in (userOption | filter:{id:'!'+user.id})" ng-change="loadAssignTo()"></select>
							<div class="table-responsive">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th></th>
											<th>Person In Charge</th>
											<th>Client Name</th>
											<th>Remark</th>
											<th>Credit</th>
											<th>Commission</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="row in assignToData">
											<td><input type="checkbox" ng-model="assignID2[$index]" ng-show="user.id==row.assign_from" ng-true-value="{{row.id}}" ng-false-value="0" ng-value="row.id"></td>
											<td>{{ row.user.name }}</td>
											<td>{{ row.customer.last_name }} {{ row.customer.first_name }}</td>
											<td>{{ row.remarks }}</td>
											<td align="right">{{ row.nn_chips | formatCurrency }}</td>
											<td>{{ row.commission }}%</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div align="right">
								<button class="btn btn-primary" ng-click="cancelAssigning()">Cancel Assign</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-sm-6">
									<button class="btn btn-primary" ng-click="add()">New Trip</button>
									<button class="btn btn-primary" ng-click="assign=1">Assign Trip</button>
								</div>
								<div class="col-sm-6" align="center">
									<div class="col-sm-4"></div>
									<form method="post" ng-submit="loadTable()">
										<div class="col-sm-5">
											<input type="text" ui-date="dateOptions" id="searchDate" class="form-control" ng-model="date">
										</div>
										<div class="col-sm-3">
											<button id="btnSearchDate" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>	
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="table-responsive" ng-init="loadTable()">
								<!--div class="col-sm-offset-9 col-sm-3">
									<div class="form-group">
									  <div class="input-group">
										<div class="input-group-addon"><i class="fa fa-search"></i></div>

										<input type="text" class="form-control" placeholder="Search..." ng-model="searchList">

									  </div>
									</div>
								</div-->
							  <table class="table table-bordered table-striped">

								<thead>
								  <tr>
									<th class="center-important">No</th>
									<th>
									  <a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse; loadTable()">
										Date
										<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'date' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
									</th>
									<th>
									  <a href="" ng-click="sortType = 'user'; sortReverse = !sortReverse; loadTable()">
										Person In Charge
										<span ng-show="sortType == 'user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'user' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
									</th>
									<th>
									  <a href="" ng-click="sortType = 'customer'; sortReverse = !sortReverse; loadTable()">
										Client Name
										<span ng-show="sortType == 'customer' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'customer' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
									</th>
									<th>
									  <a href="" ng-click="sortType = 'group_flag'; sortReverse = !sortReverse; loadTable()">
										Individual/ Group/ Junket
										<span ng-show="sortType == 'group_flag' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'group_flag' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
									</th>
									<th>
									  <a href="" ng-click="sortType = 'remarks'; sortReverse = !sortReverse; loadTable()">
										Remark
										<span ng-show="sortType == 'remarks' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'remarks' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
									</th>
									<th>
									  <a href="" ng-click="sortType = 'nn_chips'; sortReverse = !sortReverse; loadTable()">
										Credit
										<span ng-show="sortType == 'nn_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'nn_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
									</th>
									<th>
									  <a href="" ng-click="sortType = 'commission'; sortReverse = !sortReverse; loadTable()">
										Commision
										<span ng-show="sortType == 'commission' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'commission' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
									</th>
									<th>Status</th>
									<th>Option</th>
								  </tr>
								</thead>

								<tbody>
									<!--tr ng-repeat="row in dataTable.data | orderBy:sortType:sortReverse | filter:searchList"-->
									<tr ng-repeat="row in dataTable.data">
										<td align="center">{{ $index+1 }}</td>
										<td>{{ formatDate(row.date) }}</td>
										<td>{{ row.user.name }}</td>
										<td>{{ row.customer.last_name }} {{ row.customer.first_name }}</td>
										<td>{{ row.customer.group_flag }}</td>
										<td>{{ row.remarks }}</td>
										<td align="right">{{ row.nn_chips | formatCurrency }}</td>
										<td>{{ row.commission }}%</td>
										<td><span ng-class="row.status==1?'label label-success':'label label-danger'">{{ checkStatus(row.status) }}</span></td>
										<td>
											<button ng-show="row.status==1 && row.user_id==user.id" class="btn btn-xs btn-default" ng-click="edit(row.id)">
												<i class="glyphicon glyphicon-edit"></i>
											</button>
											<button ng-show="row.status==1 || user.roles=='Manager'" class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
											</button>
											<!-- Delete Modal -->
											<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
											  <div class="modal-dialog">
												<div class="modal-content">
												  <div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title" id="myModalLabel">Delete Rolling<strong></strong></h4>
												  </div>
												  <div class="modal-body">
													<div class="alert alert-danger" role="alert">Are you sure you want to delete this rolling?</div>
												  </div>
												  <div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-danger" data-ng-click="delete(row.id)" data-dismiss="modal">Delete</button>
												  </div>
												</div>
											  </div>
											</div>
											<div class="btn-group" ng-show="(row.user_id==user.id||row.assign_to==user.id) && row.status==1">
											  <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-show="row.status==1" ng-hide="row.status==0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Action <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu dropdown-menu-right">
												<li>
													<a ng-click="addCredit(row.id)">
														Credit
													</a>
												</li>
												<li>
													<a ng-click="getOpenStatus(row)">
														Rolling
													</a>
												</li>
												<li>
													<a ng-click="getOpenStatus1(row)">
														Rolling 2
													</a>
												</li>
												<li ng-hide="user.roles=='Management'">
													<a ng-href="#/app/transactions/rolling2/{{row.id}}">
														Rolling 3
													</a>
												</li>
												  <!--table rolling added by sanjaya-->
												<li>
													<a ng-href="#/app/transactions/table_rolling/{{row.id}}">
														Table Rolling
													</a>
												</li>
												<li>
													<a ng-click="manageExpense(row.id)">
														Expense
													</a>
												</li>
												<li>
													<a ng-click="getClosingStatus(row)">
														Closing
													</a>
												</li>
												<li>
													<a ng-show="row.status==0" ng-click="checkCommission(row)">
														Commission
													</a>
												</li>
												<li>
													<a ng-click="tipsManagement(row)">
														Tips management
													</a>
												</li>
											  </ul>
											</div>
											<div class="btn-group" ng-show="row.status==0">
											  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Report <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu dropdown-menu-right">
												<li>
													<a ng-click="getTripReport(row)">
														Credit Report
													</a>
												</li>
												<li>
													<a ng-click="getRollingReport(row)">
														Rolling Report
													</a>
												</li>
												<li ng-hide="user.roles=='Management'">
													<a ng-click="getRolling2Report(row)">
														Rolling 3 Report
													</a>
												</li>
												<li ng-if="false">
													<a ng-click="getRunnerReport(row)">
														Runner Report
													</a>
												</li>
											  </ul>
											</div>
											<div ng-show="row.status==0 && (user.id==row.user_id || user.roles=='Manager')">
											  <button type="button" class="btn btn-sm btn-primary" ng-click="getClosingStatus(row)">
												Reclosing
											  </button>
											</div>
										</td>
									</tr>
								</tbody>

							  </table>
							  <div class="col-sm-6">
								<br/>
								Total Page : {{ dataTable.last_page }} - Total Data : {{ dataTable.total }}
							  </div>
							  <div class="col-sm-6" style="text-align:right;">
								<ul class="pagination">
									<li ng-class="{'disabled' : dataTable.current_page==1}">
										<a href="" ng-show="{{ dataTable.current_page!=1 }}" aria-label="Previous" ng-click="paging(dataTable.current_page-1)">
											<span aria-hidden="true">Previous</span>
										</a>
										<span ng-show="{{ dataTable.current_page==1 }}" aria-hidden="true">Previous</span>
									</li>

									<li ng-repeat="n in range(1,(dataTable.last_page))" ng-show="showPage(n)" ng-class="{'active':dataTable.current_page==n}"><a href="" ng-click="paging(n)">{{n}}</a></li>

									<li ng-class="{'disabled' : dataTable.current_page==dataTable.last_page || dataTable.last_page==0}">
										<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(dataTable.current_page+1)">
											<span aria-hidden="true">Next</span>
										</a>
										<span ng-show="isLastPage()" aria-hidden="true">Next</span>
									</li>
								</ul>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="confirmModalrolling">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="confirmModalrolling=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Start Rolling<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<div class="alert alert-info" role="alert">Are you sure you want to start this rolling?</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="confirmModalrolling=false">Cancel</button>
			<button type="button" class="btn btn-primary" ng-click="openRolling()" data-dismiss="modal">Start</button>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="confirmModalrolling3">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="confirmModalrolling3=false"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Start Rolling<strong></strong></h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-info" role="alert">Are you sure you want to start this rolling 2?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="confirmModalrolling3=false">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="openRolling3()" data-dismiss="modal">Start</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="closingModal">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closingModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Closing Trip<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<div class="row" ng-show="!showClosin()">
				<div class="col-sm-12">
					<div class="alert alert-danger" role="alert" ng-show="showAlertClosing()">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertClosing=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alertClosing}}
					</div>
				</div>
				<div ng-show="tempRow.status==0">
					<div class="col-sm-6">
						<label for="date">Close Date</label>
						<input type="text" ui-date="dateOptions" id="date" class="form-control" placeholder="Date" ng-model="tempRow.closing_date" ng-disabled="true">
					</div>
					<div class="col-sm-6">
						<label>Time</label>
						<input type="text" ui-mask="99:99:99" id="time" class="form-control" placeholder="00:00:00" ng-model="tempRow.closing_time" ng-disabled="true">
					</div>
					<div class="col-sm-6">
						<label>NN Chips</label>
						<input type="text" id="closing_nn_chips2" ng-model="tempRow.closing_nn_chips" class="form-control currency" ng-disabled="true" currency-input>
					</div>
					<div class="col-sm-6">
						<label>Cash Chips</label>
						<input type="text" id="closing_cash_chips2" ng-model="tempRow.closing_cash_chips" class="form-control currency" ng-disabled="true" currency-input>
					</div>
					<div class="col-sm-6" ng-hide="true">
						<label>Cash</label>
						<input type="text" id="closing_cash2" ng-model="tempRow.closing_cash" class="form-control currency" ng-disabled="true" currency-input>
					</div>
				</div>
				<div class="col-sm-12"><br/><legend></legend></div>
				<div class="col-sm-12">
					Total Credit : {{ sumOpening | formatCurrency }}
					Total Rolling : {{ sumRolling | formatCurrency }} - Total Commission {{tempRow.commission}} % : {{ closing_commission | formatCurrency }}
					<br/><br/>
				</div>
				<div ng-show="statusClose">
					<div class="col-sm-6">
						<label for="date">Close Date</label>
						<input type="text" ui-date="dateOptions" id="closing_date" class="form-control" placeholder="Date" ng-model="closing_date">
					</div>
					<div class="col-sm-6">
						<label>Time</label>
						<input type="text" ui-mask="99:99:99" id="time" class="form-control" placeholder="00:00:00" ng-model="closing_time" model-view-value="true">
					</div>
					<div class="col-sm-6">
						<label>NN Chips</label>
						<input type="text" id="closing_nn_chips" ng-model="closing_nn_chips" class="form-control currency" ng-keyup="getSumDebt()" currency-input>
					</div>
					<div class="col-sm-6">
						<label>Cash Chips</label>
						<input type="text" id="closing_cash_chips" ng-model="closing_cash_chips" class="form-control currency" ng-keyup="getSumDebt()" currency-input>
					</div>
					<div class="col-sm-6" ng-hide="true">
						<label>Cash</label>
						<input type="text" id="closing_cash" ng-model="closing_cash" class="form-control currency" ng-keyup="getSumDebt()" currency-input>
					</div>
				</div>
				<div class="col-sm-12">
					<br/>
					Total Debt Customer : {{ sumDebt | formatCurrency }}
				</div>
			</div>
			<div class="alert alert-info" role="alert" ng-show="showClosin()">Are you sure you want to closing this trip?</div>
		  </div>
		  <div class="modal-footer">
			<div ng-show="!showClosin()">
				<button ng-show="statusClose" type="button" class="btn btn-primary" ng-click="closingInput=true">Closing Trip</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closingModal=false">Cancel</button>
			</div>
			<div ng-show="showClosin()">
				<button type="button" class="btn btn-primary" ng-click="closingTrip()">Yes</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closingInput=false">No</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="commissionModal">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="commissionModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Check In Commission<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<div class="row" ng-show="!checkInCommission">
				<div class="alert alert-danger" role="alert" ng-show="alertCommission!='' && alertCommission!='success'">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertCommission=''">
						<span aria-hidden="true">&times;</span>
					</button>
					{{alertCommission}}
				</div>
				<div>
					<div class="col-sm-12">
						<label>Commission</label>
						<input type="text" id="check_in_commision" ng-model="check_in_commision" class="form-control currency" disabled currency-input>
					</div>
				</div>
			</div>
			<div class="alert alert-info" role="alert" ng-show="checkInCommission">Are you sure you want to check in commission?</div>
		  </div>
		  <div class="modal-footer">
			<div ng-show="!checkInCommission">
				<button type="button" class="btn btn-primary" ng-click="checkInCommission=true" ng-hide="true">Check In</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="commissionModal=false">Close</button>
			</div>
			<div ng-show="checkInCommission">
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="checkInCommission=false">No</button>
				<button type="button" class="btn btn-primary" ng-click="checkingInCommission()">Yes</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="TripReportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="TripReportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Trip Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="TripReportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="RollingReportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="RollingReportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Rolling Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="RollingReportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="Rolling2ReportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Rolling2ReportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Rolling 3 Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Rolling2ReportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" modal="RunnerReportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="RunnerReportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Runner Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="RunnerReportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>

	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>
