<div ng-controller="tripController">
	<div class="panel panel-default box" ng-init="getMaster();getCreditStatus();">
		<div class="panel-heading"><h3>Credit Trip</h3></div>
		<div class="panel-body">
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="row">
				<div class="col-md-12">
					<div ng-show="!showCredit()">
						<p class="alert alert-info">Cannot add credit on the trip has opened a rolling!</p>
					</div>
					<div ng-show="showCredit()">
					</div>
					<table class="table table-striped">
						<tr>
							<td width="30%">Date</td>
							<td> : {{ formatDate(master.date) }}</td>
						</tr>
						<tr>
							<td>Person In Charge</td>
							<td> : {{ master.user.name }}</td>
						</tr>
						<tr>
							<td>Client Name</td>
							<td> : {{ master.customer.first_name }}</td>
						</tr>
						<tr>
							<td>Shift</td>
							<td> : {{ master.shift | shiftMorningNight }}</td>
						</tr>
						<tr>
							<td>Remark</td>
							<td> : {{ master.remark }}</td>
						</tr>
					</table>
					<div ng-show="showCredit()">
						<form name="formdatac" novalidate method="post">
							<div class="col-sm-3">
								<label>Time</label>
								<input type="text" ui-mask="99:99:99" placeholder="00:00:00" class="form-control" ng-model="time_transaction" id="time_transaction">
							</div>
							<div class="col-sm-3">
								<label>Credit</label>
								<input type="text" class="form-control currency" ng-model="rolling" id="rolling" name="rolling" ng-keyup="$event.keyCode == 13 && saveCredit()" currency-input minim="0" autofocus>
								<div class="error-message" ng-messages="formdatac.rolling.$error">
									<div ng-message="minim">
										Cannot Less than 0.
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<label>&nbsp;</label><br/>
								<button type="button" class="btn btn-primary" ng-click="saveCredit()"><i class="fa fa-plus"></i> Add</button>
							</div>
							<br/><br/><br/>
						</form>
					</div>
					<table ng-init="getCreditDetail()" ng-init="" class="table table-striped">
						<thead>
							<tr>
								<th>No</th>
								<th>Time</th>
								<th>Credit</th>
								<th ng-show="showCredit()">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>{{ formatTime(master.date) }}</td>
								<td>{{ master.nn_chips | formatCurrency }}</td>
								<td>-First Open Trip Credit-</td>
							</tr>
							<tr ng-repeat="row in creditData" ng-include="getTemplate(row)">
								
							</tr>
						</tbody>
					</table>
					<script type="text/ng-template" id="display">
						<td>{{$index+2}}</td>
						<td>{{row.time_transaction}}</td>
						<td>{{row.rolling | formatCurrency}}</td>
						<td>
							<span ng-show="showCredit()">
								<button ng-show="showCredit()" class="btn btn-xs btn-default" ng-click="editFormCredit(row)">
									<i class="glyphicon glyphicon-edit"></i>
								</button>
								<button ng-show="showCredit()" class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteCreditModal{{$index}}">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
								<!-- Delete Modal -->
								<div class="modal fade" id="deleteCreditModal{{$index}}" tabindex="-1" role="dialog">
								  <div class="modal-dialog" style="width:50%">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Delete credit<strong></strong></h4>
									  </div>
									  <div class="modal-body">
										<div class="alert alert-danger" role="alert">Are you sure you want to delete this credit?</div>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-danger" data-ng-click="deleteCredit(row.id)" data-dismiss="modal">Delete</button>
									  </div>
									</div>
								  </div>
								</div>
							</span>
						</td>
					</script>
					<script type="text/ng-template" id="edit">
						<td>{{$index+1}}</td>
						<td><input ui-mask="99:99:99" id="selected_time" class="form-control input-sm" ng-model="selected.time_transaction"></td>
						<td>
							<form name="formdatacr" novalidate method="post">
								<input type="text" id="selected_rolling" name="selected_rolling" class="form-control input-sm" ng-model="selected.rolling" ng-keyup="$event.keyCode == 13 && editCredit(row.id)" currency-input minim="0" autofocus>
								<div class="error-message" ng-messages="formdatacr.selected_rolling.$error">
									<div ng-message="minim">
										Cannot Less than 0.
									</div>
								</div>
							</form>
						</td>
						<td>
							<button class="btn btn-xs btn-default" ng-click="editCredit(row.id)">
								<i class="glyphicon glyphicon-floppy-disk"></i>
							</button>
							<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
							<!-- Delete Modal -->
							<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
							  <div class="modal-dialog" style="width:50%">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Delete credit<strong></strong></h4>
								  </div>
								  <div class="modal-body">
									<div class="alert alert-danger" role="alert">Are you sure you want to delete this credit?</div>
								  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-danger" data-ng-click="deleteCredit(row.id)" data-dismiss="modal">Delete</button>
								  </div>
								</div>
							  </div>
							</div>
						</td>
					</script>
				  </div>
				  <div class="col-sm-12" align="right">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Back</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>