<div ng-controller="transactionExpenseController">
	<div class="panel panel-default box" ng-init="getTransaction();">
		<div class="panel-heading"><h3>Expense Trip</h3></div>
		<div class="panel-body">
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<tr>
							<td width="30%">Date</td>
							<td> : {{ formatDate(master.date) }}</td>
						</tr>
						<tr>
							<td>Person In Charge</td>
							<td> : {{ master.user.name }}</td>
						</tr>
						<tr>
							<td>Client Name</td>
							<td> : {{ master.customer.first_name }}</td>
						</tr>
						<tr>
							<td>Shift</td>
							<td> : {{ master.shift | shiftMorningNight }}</td>
						</tr>
						<tr>
							<td>Remark</td>
							<td> : {{ master.remark }}</td>
						</tr>
					</table>
					<div ng-show="showExpense()">
						<form name="formdatae" novalidate method="post">
							<div class="col-sm-2">
								<label>Date</label>
								<input type="text" ui-date="dateOptions" class="form-control" ng-model="date" id="date">
							</div>
							<div class="col-sm-2">
								<label>Shift</label>
								<div>
									<input type="radio" name="shift" value="Morning" ng-model="shift" ng-checked="shift == 'morning'"> Morning
									<input type="radio" name="shift" value="Night" ng-model="shift" ng-checked="shift == 'night'"> Night
								</div>
							</div>
							<div class="col-sm-4">
								<label>Description</label>
								<input type="text" class="form-control" ng-model="description" id="description">
							</div>
							<div class="col-sm-2">
								<label>Amount </label>
								<input type="text" class="form-control currency" ng-model="amount" id="amount" name="amount" ng-keyup="$event.keyCode == 13 && addExpense()" currency-input minim="0" autofocus>
								<div class="error-message" ng-messages="formdatae.amount.$error">
									<div ng-message="minim">
										Cannot Less than 0.
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<label>&nbsp;</label><br/>
								<button type="button" class="btn btn-primary" ng-click="addExpense()"><i class="fa fa-plus"></i> Add </button>
							</div>
							<br/><br/><br/>
						</form>
					</div><br/>
					<table ng-init="getExpense()" ng-init="" class="table table-striped">
						<thead>
							<tr>
								<th>No</th>
								<th>Date</th>
								<th>Shift</th>
								<th>Description</th>
								<th>Amount</th>
								<th>Total</th>
								<th ng-show="showExpense()">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in detail" ng-include="getTemplate(row)">
								
							</tr>
						</tbody>
					</table>
					<script type="text/ng-template" id="display">
						<td>{{$index+1}}</td>
						<td>{{formatDate(row.date)}}</td>
						<td>{{row.shift}}</td>
						<td>{{row.description}}</td>
						<td>{{row.amount | formatCurrency}}</td>
						<td>{{row.total | formatCurrency}}</td>
						<td>
							<span ng-show="showExpense()">
								<button ng-show="showExpense()" class="btn btn-xs btn-default" ng-click="editForm(row)">
									<i class="glyphicon glyphicon-edit"></i>
								</button>
								<button ng-show="showExpense()" class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteExpenseModal{{$index}}">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
								<!-- Delete Modal -->
								<div class="modal fade" id="deleteExpenseModal{{$index}}" tabindex="-1" role="dialog">
								  <div class="modal-dialog" style="width:50%">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Delete expense<strong></strong></h4>
									  </div>
									  <div class="modal-body">
										<div class="alert alert-danger" role="alert">Are you sure you want to delete this expense?</div>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-danger" data-ng-click="deleteExpense(row.id)" data-dismiss="modal">Delete</button>
									  </div>
									</div>
								  </div>
								</div>
							</span>
						</td>
					</script>
					<script type="text/ng-template" id="edit">
						<td>{{$index+1}}</td>
						<td><input ui-date="dateOptions" id="selected_date" class="form-control input-sm" ng-model="selected.date"></td>
						<td>
							<input type="radio" name="selected_shift" value="morning" ng-model="selected.shift" ng-checked="selected.shift == 'morning'"> Morning
							<input type="radio" name="selected_shift" value="night" ng-model="selected.shift" ng-checked="selected.shift == 'night'"> Night
						</td>
						<td><input id="selected_description" class="form-control input-sm" ng-model="selected.description"></td>
						<td>
							<form name="formdataex" novalidate method="post">
								<input type="text" id="selected_amount" name="selected_amount" class="form-control input-sm" ng-model="selected.amount" ng-keyup="$event.keyCode == 13 && editExpense(row.id)" currency-input minim="0" autofocus>
								<div class="error-message" ng-messages="formdataex.selected_amount.$error">
									<div ng-message="minim">
										Cannot Less than 0.
									</div>
								</div>
							</form>
						</td>
						<td><input id="selected_total" class="form-control input-sm" currency-input ng-model="selected.total" readonly></td>
						<td>
							<button class="btn btn-xs btn-default" ng-click="editExpense(row.id)">
								<i class="glyphicon glyphicon-floppy-disk"></i>
							</button>
							<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
							<!-- Delete Modal -->
							<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
							  <div class="modal-dialog" style="width:50%">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Delete credit<strong></strong></h4>
								  </div>
								  <div class="modal-body">
									<div class="alert alert-danger" role="alert">Are you sure you want to delete this credit?</div>
								  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-danger" data-ng-click="deleteExpense(row.id)" data-dismiss="modal">Delete</button>
								  </div>
								</div>
							  </div>
							</div>
						</td>
					</script>
				  </div>
				  <div class="col-sm-12" align="right">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Back</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>