<div ng-controller="tripController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Customer Open Trip</h3></div>
		<div class="panel-body">
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<form id="formdata" name="formdata" class="form-horizontal" ng-submit="save()" ng-init="initData();getEdit();">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="date" class="col-sm-4 control-label left-important">Date</label>
						<div class="col-sm-4">
							<input type="text" ui-date="dateOptions" id="date" class="form-control" placeholder="Date" ng-model="date" ng-required="true">
						</div>
						<div class="col-sm-4">
							<input type="text" ui-mask="99:99:99" id="time" class="form-control" placeholder="00:00:00" ng-model="time" model-view-value="true" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label for="user_id" class="col-sm-4 control-label left-important">Person In Charge</label>
	<!--					<div class="col-sm-8" ng-init="getRunner()"> -->
						<div class="col-sm-8">
						    <input type="text" class="form-control" ng-value="user.name" ng-disabled="true">
							<!-- <select id="customer_id" class="form-control" ng-model="fd.user_id" ng-options="runner.id as runner.name for runner in runnerOption" ng-required="true" ng-disabled="{{user.roles=='Runner'}}">
							</select>
							<input type="hidden" id="customer_id" class="form-control" ng-value="user.n">
							<input type="text" class="form-control" ng-value="fd.user_name" ng-disabled="true"> -->
						</div>
					</div>
					<div class="form-group">
						<label for="customer_id" class="col-sm-4 control-label left-important">Client Name</label>
						<div class="col-sm-8" ng-init="getCustomer()">
							<!--select chosen id="customer_id" class="form-control" ng-model="fd.customer" ng-options="customer.first_name for customer in customerList track by customer.id" ng-required="true" ng-change="getCommission()">
							</select-->
						  <md-autocomplete
							  ng-disabled="isDisabled"
							  md-no-cache="noCache"
							  md-selected-item="selectedItem"
							  md-search-text-change="searchTextChange(searchText)"
							  md-search-text="searchText"
							  md-selected-item-change="selectedItemChange(item)"
							  md-items="item in querySearch(searchText)"
							  md-item-text="item.display"
							  md-min-length="0"
							  placeholder="Choose Client...">
							<md-item-template>
							  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
							</md-item-template>
							<md-not-found>
							  "{{searchText}}" not found.
							  <a ng-click="showDialog()">Create a new one!</a>
							</md-not-found>
						  </md-autocomplete>
						</div>
					</div>
					<div class="form-group">
						<label for="shift" class="col-sm-4 control-label left-important">Shift</label>
						<div class="col-sm-8 control-label" style="text-align:left">
							<input type="radio" id="shift" name="shift" ng-model="fd.shift" value="morning"> {{ 'Morning' | shiftMorningNight }}
							&nbsp;
							<input type="radio" id="shift" name="shift" ng-model="fd.shift" value="night"> {{ 'Night' | shiftMorningNight }}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="shift" class="col-sm-4 control-label left-important">Scenario Rolling 2</label>
						<div class="col-sm-8 control-label" style="text-align:left">
							<input type="radio" id="scenario" name="scenario" ng-model="fd.scenario" value="Win or Lose"> Win or Lose 
							&nbsp;
							<input type="radio" id="scenario" name="scenario" ng-model="fd.scenario" value="Win Only"> Win Only
						</div>
					</div>
					<div class="form-group">
						<label for="remark" class="col-sm-4 control-label left-important">Remark</label>
						<div class="col-sm-8">
							<textarea id="remark" class="form-control" ng-model="fd.remarks" placeholder="Remark"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="credit" class="col-sm-4 control-label left-important">Credit</label>
						<div class="col-sm-8">
							<input type="text" id="nn_chips" name="nn_chips" class="form-control currency" ng-model="fd.nn_chips" placeholder="Credit" currency-input minim="0">
							<div class="error-message" ng-messages="formdata.nn_chips.$error">
								<div ng-message="minim">
									Cannot Less than 0.
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="commission" class="col-sm-4 control-label left-important">Commission</label>
						<div class="col-sm-8">
							<input type="number" id="commission" class="form-control" ng-model="fd.commission" placeholder="Commission" step="any" string-to-number>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12" style="text-align:right;">
						<button type="submit" id="save" class="btn btn-success">Save</button>
						<button type="button" id="cancel" class="btn btn-danger" ng-click="cancel()">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" modal="customerModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="customerModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Add Customer<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<div class="alert alert-danger" role="alert" ng-show="alertC!='' && alertC!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertC=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alertC}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="successC!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="successC=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{successC}}
			</div>
			<form ng-submit="saveCustomer()">
				<div class="row">
					<label for="custType" class="col-lg-4 control-label">Customer Type*</label>
					<div class="col-lg-8" ng-init="getCustTypes()">
						<select id="custType"  class="form-control" ng-model="fdc.customer_type_id" ng-options="custTypes.id as custTypes.name for custTypes in custTypesOption" ng-required="true" ng-disabled="showStatus">
						</select>
					</div>
					<label for="title" class="col-lg-4 control-label">Title*</label>
					<div class="col-lg-8">
						<select id="title"
								class="form-control"
								ng-model="fdc.title"
								ng-required="true"
								ng-disabled="showStatus">
								<option value="Mr">Mr</option>
								<option value="Mrs">Mrs</option>
								<option value="Ms">Ms</option>
								<option value="Tun">Tun</option>
								<option value="Tan Sri">Tan Sri</option>
								<option value="Datuk">Datuk</option>
								<option value="Dato' Sri">Dato' Sri</option>
								<option value="Dato">Dato</option>
								<option value="Pehin">Pehin</option>
								<option value="JP">JP</option>
								<option value="Dato Paduka">Dato Paduka</option>
								<option value="Dr">Dr</option>
						</select>
					</div>
					<label for="FirstName" class="col-lg-4 control-label">First Name*</label>
					<div class="col-lg-8 ">
						<input type="text"
								id="first_name"
							   class="form-control"
							   ng-model="fdc.first_name"
							   ng-required="true"
							   ng-disabled="showStatus">
					</div>
					<label for="LastName" class="col-lg-4 control-label">Last Name</label>
					<div class="col-lg-8 ">
						<input type="text"
								min="1"
								max="31"
								id="last_name"
							   class="form-control"
							   ng-model="fdc.last_name"
							   ng-disabled="showStatus">
					</div>
					<div class="col-sm-12" align="right">
						<button type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="customerModal=false">Close</button>
					</div>
				</div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
</div>
