<div ng-controller="vendorController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Vendors</h3></div>
		<div class="panel-body">
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-sm-6">
									<button class="btn btn-primary" ng-click="add()">New vendor</button>
								</div>
								<div class="col-sm-6" align="center">
									<div class="col-sm-4"></div>
									<form method="post" ng-submit="loadTable()">
										<div class="col-sm-5">
											<input type="text" class="form-control" ng-model="filter" placeholder="Filter by name...">
										</div>
										<div class="col-sm-3">
											<button id="btnSearchDate" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>	
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="table-responsive" ng-init="loadTable()">
							  <table class="table table-bordered table-striped">
								<thead>
								  <tr>
									<th class="center-important" style="max-width: 80px !important;">No</th>
									<th>
										<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse; loadTable()">
											Vendor name
											<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'name' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 48px !important;">
										<a href="" ng-click="sortType = 'chip'; sortReverse = !sortReverse; loadTable()">
											Chip
											<span ng-show="sortType == 'chip' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'chip' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 80px !important;">
										<a href="" ng-click="sortType = 'commision'; sortReverse = !sortReverse; loadTable()">
											Commission
											<span ng-show="sortType == 'commision' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'commision' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 80px !important;">Option</th>
								  </tr>
								</thead>

								<tbody>
									<tr ng-repeat="row in dataTable.data">
										<td align="center">{{ $index+1 }}</td>
										<td>{{ row.name }}</td>
										<td>{{ row.chip }}</td>
										<td>{{ row.commision }}</td>
										<td>
											<button class="btn btn-xs btn-default" ng-click="edit(row.id)">
												<i class="glyphicon glyphicon-edit"></i>
											</button>
											<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
											</button>
											<!-- Delete Modal -->
											<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">Delete Vendor<strong></strong></h4>
														</div>
														<div class="modal-body">
															<div class="alert alert-danger" role="alert">Are you sure you want to delete this vendor?</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="button" class="btn btn-danger" data-ng-click="delete(row.id)" data-dismiss="modal">Delete</button>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>

								</table>
								<div class="col-sm-6">
									<br/>
									Total Page : {{ dataTable.last_page }} - Total Data : {{ dataTable.total }}
								</div>
								<div class="col-sm-6" style="text-align:right;">
								  <ul class="pagination">
									  <li ng-class="{'disabled' : dataTable.current_page==1}">
										  <a href="" ng-show="{{ dataTable.current_page!=1 }}" aria-label="Previous" ng-click="paging(dataTable.current_page-1)">
											  <span aria-hidden="true">Previous</span>
										  </a>
										  <span ng-show="{{ dataTable.current_page==1 }}" aria-hidden="true">Previous</span>
									  </li>

									  <li ng-repeat="n in range(1,(dataTable.last_page))" ng-show="showPage(n)" ng-class="{'active':dataTable.current_page==n}"><a href="" ng-click="paging(n)">{{n}}</a></li>

									  <li ng-class="{'disabled' : dataTable.current_page==dataTable.last_page || dataTable.last_page==0}">
										  <a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(dataTable.current_page+1)">
											  <span aria-hidden="true">Next</span>
										  </a>
										  <span ng-show="isLastPage()" aria-hidden="true">Next</span>
									  </li>
								  </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>
