<div ng-controller="vendorController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Vendor</h3></div>
		<div class="panel-body">
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<form id="formdata" name="formdata" class="form-horizontal" ng-submit="save()" ng-init="initData(); getEdit();">
				<input type="hidden" id="id" ng-model="formData.id" value="">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="name" class="col-sm-4 control-label left-important">Vendor name</label>
						<div class="col-sm-8">
							<input type="text" id="name" class="form-control" ng-model="formData.name" placeholder="Vendor name" required="required">
						</div>
					</div>
					<div class="form-group">
						<label for="chip" class="col-sm-4 control-label left-important">Chip</label>
						<div class="col-sm-8">
							<select id="name" class="form-control" ng-model="formData.chip" required="required">
								<option value="NN">NN</option>
								<option value="Junket">Junket</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="commision" class="col-sm-4 control-label left-important">Commision</label>
						<div class="col-sm-8">
							<input type="number" id="commision" class="form-control" ng-model="formData.commision" placeholder="Commission" step="any" required="required" string-to-number>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12" style="text-align:right;">
						<button type="submit" id="save" class="btn btn-success">Save</button>
						<button type="button" id="cancel" class="btn btn-danger" ng-click="cancel()">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>