<div ng-controller="WithdrawalGenting2Controller">

    <div class="panel panel-default box">
        <div class="panel-heading"><h3>Withdrawal Genting 2</h3></div>
        <div class="panel-body">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{alert}}
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="success!=''">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{success}}
                    </div>
                    <div class="panel panel-default" ng-init="getEntity();">
                        <div class="panel-heading">
                            <div class="row">
                                <!-- <div class="col-md-2" align="center">
                                    <button id="add" type="button" class="btn btn-primary" ng-click="add()">Add Withdrawal Genting 2</button>
                                </div> -->
                                <div class="col-md-6"></div>
                                <div class="col-md-6" align="center">
                                    <div class="col-md-6"></div>
                                    <form method="post" ng-submit="loadData()">
                                        <div class="col-sm-4">
                                            <input type="text" id="search" class="form-control" ui-date="dateOptions" ng-model="date">
                                        </div>
                                        <div class="col-sm-2">
                                            <button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form id="formdatabank" name="formdatabank" ng-submit="addwg()" method="post">
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label for="name">Date</label>
                                        <input type="text" ui-date="dateOptions" id="date" class="form-control" placeholder="yyyy-mm-dd" ng-model="wg.date">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="description">Name</label>
                                        <select class="form-control" ng-model="wg.account_id" ng-options="entity.id as entity.name for entity in entityOption"></select>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="balance">Amount</label>
                                        <input type="text"
                                            id="balance"
                                            class="form-control currency"
                                            ng-model="wg.amount"
                                            currency-input>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>&nbsp;</label><br/>
                                        <button class=" btn btn-primary"
                                            type="submit"
                                            class="btn btn-success" >Save</button>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table datatable_="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped" ng-init="loadData()">
                                    <thead>
                                    <tr>
                                        <th class="center-important">No</th>
                                        <th>
                                            <a href="" ng-click="sort('trans_date')">
                                                Date
                                                <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-sort-amount-asc"></span>
                                                <span ng-show="sortType == 'title' && sortReverse" class="fa fa-sort-amount-desc"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="" ng-click="sort('name')">
                                                Name
                                                <span ng-show="sortType == 'first_name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
                                                <span ng-show="sortType == 'first_name' && sortReverse" class="fa fa-sort-amount-desc"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="" ng-click="sort('amount')">
                                                Amount
                                                <span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
                                                <span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-sort-amount-desc"></span>
                                            </a>
                                        </th>
                                        <th width="15%">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in dataTable.data" ng-include="getTemplate(row)">
                                        
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <script type="text/ng-template" id="display">
                                <td align="center">{{ $index+1 }}</td>
                                <td>{{ row.date | date: 'dd-MM-yyyy' }}</td>
                                <td>{{ row.account.name }}</td>
                                <td align="right">{{ row.amount | formatCurrency }}</td>
                                <td>
                                    <!--<button class="btn btn-xs btn-default" type="button" ng-click="show(tip.id)">-->
                                        <!--<i class="glyphicon glyphicon-file"></i>-->
                                    <!--</button>-->
                                    <button class="btn btn-xs btn-default" type="button" ng-click="editForm(row)">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                    <button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Delete withdrawal</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="alert alert-danger" role="alert">Are you sure you want to delete this withdrawal?</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger" data-ng-click="delete(row.id)" data-dismiss="modal">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </script>
                            <script type="text/ng-template" id="edit">
                                <td align="center">{{ $index+1 }}</td>
                                <td class="input-group-sm">
                                    <input type="text" class="form-control input-sm" id="name_b" name="name_b" ng-model="selected.date" ng-keyup="$event.keyCode == 13 && editBank(data.id)" readonly="">
                                </td>
                                <td class="input-group-sm">
                                    <select class="form-control" ng-model="selected.account_id" ng-options="entity.id as entity.name for entity in entityOption"></select>
                                </td>
                                <td class="input-group-sm">
                                    <input type="text" id="selected_amount" class="form-control" ng-model="selected.amount" style="text-align:right;" currency-input>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-default" ng-click="editwg(row.id)">
                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                    </button>
                                    <button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Delete withdrawal<strong></strong></h4>
                                          </div>
                                          <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">Are you sure you want to delete this withdrawal?</div>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-danger" data-ng-click="delete(row.id)" data-dismiss="modal">Delete</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </td>
                            </script>
                            <div class="col-sm-6">
                                <br/>
                                Total Page : {{ dataTable.last_page }} - Total Data : {{ dataTable.total }}
                            </div>
                            <div class="col-sm-6" style="text-align:right;">
                                <ul class="pagination">
                                    <li ng-class="{'disabled' : dataTable.current_page==1}">
                                        <a href="" ng-show="{{ dataTable.current_page!=1 }}" aria-label="Previous" ng-click="paging(dataTable.current_page-1)">
                                            <span aria-hidden="true">Previous</span>
                                        </a>
                                        <span ng-show="{{ dataTable.current_page==1 }}" aria-hidden="true">Previous</span>
                                    </li>
                                    <li ng-repeat="n in range(1,(dataTable.last_page))" ng-show="showPage(n)" ng-class="{'active':dataTable.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
                                    <li ng-class="{'disabled' : dataTable.current_page==dataTable.last_page || dataTable.last_page==0}">
                                        <a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(dataTable.current_page+1)">
                                            <span aria-hidden="true">Next</span>
                                        </a>
                                        <span ng-show="isLastPage()" aria-hidden="true">Next</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
