<div ng-controller="workinController">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Work In</h3></div>
		<div class="panel-body">
			<div ng-init="getData()">
				<form id="formdata" name="formdata" ng-if="showData()">
					<input type="hidden" id="id" name="id" ng-model="dataShift.id">
					<p>
						Date : {{ formatDate(dataShift.date) }} | From Shift {{ dataShift.shift_from }} To {{ dataShift.shift_to }}
					</p>
					<p>
						From : {{ dataShift.from_user.name }}
					</p>
					
					<div class="row">
						<div class="col-sm-6">
							<label class="col-sm-5 control-label">Total NN Chip</label>
							<div class="col-sm-7"><input type="text" class="form-control currency" id="nn_chips" name="nn_chips" ng-model="dataShift.nn_chips" ng-readonly="true"></div>
							<label class="col-sm-5 control-label">Total Cash Chip</label>
							<div class="col-sm-7"><input type="text" class="form-control currency" id="cash_chips" name="cash_chips" ng-model="dataShift.cash_chips" ng-readonly="true"></div>
							<label class="col-sm-5 control-label">Total Cash Real</label>
							<div class="col-sm-7"><input type="text" class="form-control currency" id="cash_real" name="cash_real" ng-model="dataShift.cash_real" ng-readonly="true"></div>
						</div>
						<div>
							<button type="button" class="btn btn-success" ng-click="workin(dataShift.id)">
								<br/>
								&nbsp;&nbsp; Starting To Work &nbsp;&nbsp;
								<br/><br/>
							</button>
						</div>
					</div>
				</form>
				<!--p ng-if="!showData()">
					No Data Shift
				</p-->
				<div class="table-responsive">
					<table class="table table-bordered table-striped" ng-init="loadData()">
						<thead>
							<tr>
								<th class="center-important">
									No
								</th>
								<th>
									<a href="" ng-click="sort('date')">
										Date
										<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'date' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
								</th>
								<th>
									<a href="" ng-click="sort('from_user')">
										From
										<span ng-show="sortType == 'from_user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'from_user' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
								</th>
								<th>
									<a href="" ng-click="sort('to_user')">
										To
										<span ng-show="sortType == 'to_user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'to_user' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
								</th>
								<th>
									<a href="" ng-click="sort('shift_to')">
										Shift Time
										<span ng-show="sortType == 'shift_to' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'shift_to' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
								</th>
								<th>
									<a href="" ng-click="sort('nn_chips')">
										NN Chips
										<span ng-show="sortType == 'nn_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'nn_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
								</th>
								<th>
									<a href="" ng-click="sort('cash_chips')">
										Cash Chips
										<span ng-show="sortType == 'cash_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'cash_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
								</th>
								<th>
									<a href="" ng-click="sort('cash_real')">
										Cash Real
										<span ng-show="sortType == 'cash_real' && !sortReverse" class="fa fa-sort-amount-asc"></span>
										<span ng-show="sortType == 'cash_real' && sortReverse" class="fa fa-sort-amount-desc"></span>
									  </a>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="shift in listData.data">
								<td align="center">{{ $index+1 }}</td>
								<td>{{ shift.date | date: "dd MMM yyyy" }}</td>
								<td>{{ shift.from_user.name }}</td>
								<td>{{ shift.to_user.name }}</td>
								<td>{{ shift.shift_to | shiftMorningNight }}</td>
								<td align="right">{{ shift.nn_chips | formatCurrency }}</td>
								<td align="right">{{ shift.cash_chips | formatCurrency }}</td>
								<td align="right">{{ shift.cash_real | formatCurrency }}</td>
								<td>
									<span class='label label-info' ng-show = "shift.status == 1">Accepted</span>
									<button class="btn btn-xs btn-default" type="button" ng-show="shift.to_user_id == user.id && shift.status == 0" data-toggle="modal" data-target="#acceptModal{{$index}}"> Accept </button>

									<!-- Accept Modal -->
									<div class="modal fade" id="acceptModal{{$index}}" tabindex="-1" role="dialog">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Accept Shift Transfer<strong></strong></h4>
										  </div>
										  <div class="modal-body">
											<div class="alert alert-info" role="alert">Are you sure you want to delete this shift transfer?</div>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-info" data-ng-click="workin(shift.id)" data-dismiss="modal">Accept</button>
										  </div>
										</div>
									  </div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="col-sm-6">
						<br/>
						Total Page : {{ listData.last_page }} - Total Data : {{ listData.total }}
					</div>
					<div class="col-sm-6" style="text-align:right;">
						<ul class="pagination">
							<li ng-class="{'disabled' : listData.current_page==1}">
								<a href="" ng-show="{{ listData.current_page!=1 }}" aria-label="Previous" ng-click="paging(listData.current_page-1)">
								<span aria-hidden="true">Previous</span>
								</a>
								<span ng-show="{{ listData.current_page==1 }}" aria-hidden="true">Previous</span>
							</li>
							<li ng-repeat="n in range(1,(listData.last_page))" ng-show="showPage(n)" ng-class="{'active':listData.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
							<li ng-class="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
								<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(listData.current_page+1)" ng-disabled="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
								<span aria-hidden="true">Next</span>
								</a>
								<span ng-show="isLastPage()" aria-hidden="true">Next</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>