th>a, th>a:focus{
	text-decoration: none;
	color: black;
}

.currency{
	text-align: right;
}
.div-dialog-modal{
	background-color: #aaaaaa;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
	filter: alpha(opacity=50);  /* IE 5-7 */
	-moz-opacity: 0.5;          /* Netscape */
	-khtml-opacity: 0.5;        /* Safari 1.x */
	opacity: 0.5;               /* Good browsers */
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 9999;
}
.div-dialog-modal>.loading{
	text-align: center;
	padding-top: 200px;
}

.div-logo{
	padding: 20px 80px 15px;
}
.user-panel>.info {
	padding: 5px 5px 5px 5px;
	line-height: 1;
	position: relative;
	left: 55px;
}
.main-header .logo .logo-lg {
	color: #333;
}
.skin-blue .main-header .logo{
	background-color: #EAC117;
}
.skin-blue .main-header .logo:hover {
	background-color: #f9d53d;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
	background-color: #1a2226;
}
.skin-blue .main-header .navbar{
	background-color: #333;
}
.skin-blue .main-header li.user-header{
	background-color: #333;
}
.input-sm{
	height: 20px;
}
a{
	cursor: pointer;
}
.error-message{
	color: red;
}

.center-important{
	text-align: center !important;
}
.left-important{
	text-align: left !important;
}
.right-important{
	text-align: right !important;
}