<div ng-controller="accountController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Set Up {{ company_id==2?'Genting 2':'' }}</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" ng-if="!config">
							<div class="row">
								<div class="col-md-4">
									<button id="add" type="button" class="btn btn-primary" ng-click="edit(company_id)">Set up Genting</button>
								</div>
								<div class="col-md-2"></div>
								<div class="col-md-6 hidden" align="center">
									<div class="col-md-6"></div>
									<form method="post" ng-submit="loadData()">
										<div class="col-sm-4">
											<input type="text" id="search" class="form-control" ng-model="search">
										</div>
										<div class="col-sm-2">
											<button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-body" ng-init="loadData()">
							<!--<div class="table-responsive">
								<table datatable_="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>NN Chips</th>
											<th>Junket Chips</th>
											<th>Cash real</th>
											<th>Balance</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="right">{{ listData.data.nn_chips }}</td>
											<td align="right">{{ listData.data.junket_chips | number }}</td>
											<td align="right">{{ listData.data.cash_real | number }}</td>
											<td align="right">{{ listData.data.balance | number }}</td>
										</tr>
									</tbody>
								</table>
							</div>-->
							<div class="col-sm-6 form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="balance">Balance</label>
									<div class="col-sm-8">
										<input type="text" id="balance" name="balance" class="form-control currency" value="{{ listData.data.balance | formatCurrency }}" ng-disabled="true">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="nn_chips">NN Chips</label>
									<div class="col-sm-8">
										<input type="text" id="nn_chips" name="nn_chips" class="form-control currency" value="{{ listData.data.nn_chips | formatCurrency }}" ng-disabled="true">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="junket_chips">Junket Chips</label>
									<div class="col-sm-8">
										<input type="text" id="junket_chips" name="junket_chips" class="form-control currency" value="{{ listData.data.junket_chips | formatCurrency }}" ng-disabled="true">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="cash_real">Cash chips</label>
									<div class="col-sm-8">
										<input type="text" id="cash_real" name="cash_real" class="form-control currency" value="{{ listData.data.cash_chips | formatCurrency }}" ng-disabled="true">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="cash_real">Cash Real</label>
									<div class="col-sm-8">
										<input type="text" id="cash_real" name="cash_real" class="form-control currency" value="{{ listData.data.cash_real | formatCurrency }}" ng-disabled="true">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
