<div ng-controller="accountController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Set Up {{ company_id==2?'Genting 2':'' }}</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>
						
						<div class="row">
							<div class="col-sm-6" ng-hide="company_id == 2">
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="code">Account Code</label>
									<div class="col-sm-8">
										<input type="text" id="code" name="code" class="form-control" ng-model="fd.code" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="name">Account Name</label>
									<div class="col-sm-8">
										<input type="text" id="name" name="name" class="form-control" ng-model="fd.name" required>
									</div>
								</div>
								<div class="form-group" ng-init="getParent()">
									<label class="col-sm-4 control-label left-important" for="address">Parent</label>
									<div class="col-sm-8">
										<select name="parent_id" id="parent_id" ng-model="fd.parent_id" class="form-control" ng-options="parent.id as parent.name for parent in parentOption" ng-change="setParent()">
											<option></option>
										</select>
									</div>
								</div>
								<div class="form-group" ng-init="getAccountType()" ng-hide="true">
									<label class="col-sm-4 control-label left-important" for="account_type_id">Account Type</label>
									<div class="col-sm-8">
										<select name="account_type_id" id="account_type_id" ng-model="fd.account_type_id" class="form-control" ng-options="accountType.id as accountType.name for accountType in accountTypeOption" ng-disabled="is_parent">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="nature_type">Nature Type</label>
									<div class="col-sm-8">
										<select id="nature_type" name="nature_type" class="form-control" ng-model="fd.nature_type" ng-disabled="is_parent" required>
											<option value="debit">Debit</option>
											<option value="credit">Credit</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="balance_date">Journal Entry Date</label>
									<div class="col-sm-8">
										<input type="text" ui-date="dateOptions" id="balance_date" name="balance_date" class="form-control" ng-model="fd.balance_date" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="balance">Opening Balance</label>
									<div class="col-sm-8">
										<input type="text" id="balance" name="balance" class="form-control currency" ng-model="fd.balance" currency-input ng-disabled="true">
										<input type="hidden" id="balance_id" name="balance_id" ng-model="fd.balance_id">
										<span ng-if="!fd.balance_id" class="error-message">Please config account Opening Balance!</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="nn_chips">NN Chips</label>
									<div class="col-sm-8">
										<input type="text" id="nn_chips" name="nn_chips" class="form-control currency" ng-model="fd.nn_chips" currency-input ng-disabled="fd.disabled" ng-keyup="balancing()">
										<input type="hidden" id="nn_chips_id" name="nn_chips_id" ng-model="fd.nn_chips_id">
										<span ng-if="!fd.nn_chips_id" class="error-message">Please config account NN Chips!</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="junket_chips">Junket Chips</label>
									<div class="col-sm-8">
										<input type="text" id="junket_chips" name="junket_chips" class="form-control currency" ng-model="fd.junket_chips" currency-input ng-disabled="fd.disabled" ng-keyup="balancing()">
										<input type="hidden" id="junket_chips_id" name="junket_chips_id" ng-model="fd.junket_chips_id">
										<span ng-if="!fd.junket_chips_id" class="error-message">Please config account Junket Chips!</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="cash_chips">Cash Chips</label>
									<div class="col-sm-8">
										<input type="text" id="cash_chips" name="cash_chips" class="form-control currency" ng-model="fd.cash_chips" currency-input ng-disabled="fd.disabled" ng-keyup="balancing()">
										<input type="hidden" id="cash_chips_id" name="cash_chips_id" ng-model="fd.cash_chips_id">
										<span ng-if="!fd.cash_chips_id" class="error-message">Please config account Cash Chips!</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="cash_real">Cash Real</label>
									<div class="col-sm-8">
										<input type="text" id="cash_real" name="cash_real" class="form-control currency" ng-model="fd.cash_real" currency-input ng-disabled="fd.disabled" ng-keyup="balancing()">
										<input type="hidden" id="cash_real_id" name="cash_real_id" ng-model="fd.cash_real_id">
										<span ng-if="!fd.cash_real_id" class="error-message">Please config account Cash Real!</span>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group col-lg-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
