<div ng-controller="accountController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Set Up {{ company_id==2?'Genting 2':'' }}</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12" ng-init="config=0">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="panel panel-default" ng-show="config==1" ng-init="getAccountConfig()">
						<div class="panel-heading">
							<div class="row">
								<span class="col-xs-7"><h4>Accounting Config</h4></span>
								<span class="col-xs-5" align="right">
									<button type="button" class="btn btn-danger" id="close" name="close" ng-click="config=0">Close</button>
								</span>
							</div>
						</div>
						<div class="panel-body" ng-init="getAccount()">
							<form novalidate method="post" ng-submit="saveConfig()">
								<span class="form-group col-sm-4" ng-if="">
									<label>NN Chips</label>
									<select name="nn_chips" id="nn_chips" ng-model="fd.nn_chips" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Junket Chips</label>
									<select name="junket_chips" id="junket_chips" ng-model="fd.junket_chips" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Cash Chips</label>
									<select name="cash_chips" id="cash_chips" ng-model="fd.cash_chips" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Cash Real</label>
									<select name="cash_real" id="cash_real" ng-model="fd.cash_real" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-init="getParent()">
									<label>Bank</label>
									<select name="bank" id="bank" ng-model="fd.bank" class="form-control" ng-options="parent.id as parent.name for parent in parentOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Opening Balance</label>
									<select name="open_balance_asset" id="open_balance_asset" ng-model="fd.open_balance_asset" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4">
									<label>Loan</label>
									<select name="receivable" id="receivable" ng-model="fd.receivable" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Loan Interest</label>
									<select name="loan" id="loa" ng-model="fd.loan" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-hide="true">
									<label>Insurance</label>
									<select name="insurance" id="insurance" ng-model="fd.insurance" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Income</label>
									<select name="income" id="income" ng-model="fd.income" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Expense</label>
									<select name="expense" id="expense" ng-model="fd.expense" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4">
									<label>Expense Morning</label>
									<select name="expense_morning" id="expense_morning" ng-model="fd.expense_morning" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4">
									<label>Expense Night</label>
									<select name="expense_night" id="expense_night" ng-model="fd.expense_night" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>Bank Expense</label>
									<select name="expense_bank" id="expense_bank" ng-model="fd.expense_bank" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4">
									<label>Tips</label>
									<select name="tips" id="tips" ng-model="fd.tips" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4">
									<label>Rolling Commission</label>
									<select name="commission" id="commission" ng-model="fd.commission" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4" ng-if="">
									<label>King/Win</label>
									<select name="king_win" id="king_win" ng-model="fd.king_win" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<span class="form-group col-sm-4">
									<label>Runner</label>
									<select name="runner" id="runner" ng-model="fd.runner" class="form-control" ng-options="account.id as account.name for account in accountOption">
									</select>
								</span>
								<div class="col-sm-12" align="right">
									<button type="submit" class="btn btn-primary" id="submit" name="submit">Save</button>
								</div>
							</form>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-4" align="center">
									<button id="add" type="button" class="btn btn-primary" ng-click="add()">Add Account</button>
									<button id="config" type="button" class="btn btn-primary" ng-click="config=1">Account Config</button>
								</div>
								<div class="col-md-2"></div>
								<div class="col-md-6" align="center">
									<div class="col-md-6"></div>
									<form method="post" ng-submit="loadData()">
										<div class="col-sm-4">
											<input type="text" id="search" class="form-control" ng-model="search">
										</div>
										<div class="col-sm-2">
											<button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-body" ng-init="loadData()">
							<div class="table-responsive">
								<table datatable_="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-important">No</th>
											<th></th>
											<th>
												<a href="" ng-click="sort('code')">
													Code
													<span ng-show="sortType == 'code' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'code' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('name')">
													Name
													<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'name' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('nature_type')">
													Nature Type
													<span ng-show="sortType == 'nature_type' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'nature_type' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th ng-if>
												<a href="" ng-click="sort('account_type')">
													Account Type
													<span ng-show="sortType == 'account_type' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'account_type' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('balance_date')">
													Balance Date
													<span ng-show="sortType == 'balance_date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'balance_date' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th ng-if>
												<a href="" ng-click="sort('nn_chips')">
													NN Chips
													<span ng-show="sortType == 'nn_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'nn_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th ng-if>
												<a href="" ng-click="sort('junket_chips')">
													Junket Chips
													<span ng-show="sortType == 'nn_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'nn_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th ng-if>
												<a href="" ng-click="sort('cash_chips')">
													Cash Chips
													<span ng-show="sortType == 'cash_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'cash_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('cash_real')">
													Cash Real
													<span ng-show="sortType == 'cash_real' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'cash_real' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('balance')">
													Balance
													<span ng-show="sortType == 'balance' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'balance' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat-start="data in listData.data">
											<td align="center">{{ $index+1 }}</td>
											<td width="10px">
												<span ng-if="data.child.length>0">
													<a href="" ng-if="!data.expanded" ng-click="data.expanded = true;">
														<i class="glyphicon glyphicon-plus"></i>
													</a>
													<a href="" ng-if="data.expanded" ng-click="data.expanded = false;">
														<i class="glyphicon glyphicon-minus"></i>
													</a>
												</span>
											</td>
											<td>{{ data.code }}</td>
											<td>{{ data.name }}</td>
											<td>{{ data.nature_type }}</td>
											<td ng-if>{{ data.account_type.name }}</td>
											<td>{{ data.type=='parent'?'':(formatDate(data.balance_date)) }}</td>
											<td align="right" ng-if>{{ data.nn_chips | formatCurrency }}</td>
											<td align="right" ng-if>{{ data.junket_chips | formatCurrency }}</td>
											<td align="right" ng-if>{{ data.cash_chips | formatCurrency }}</td>
											<td align="right">{{ data.cash_real | formatCurrency }}</td>
											<td align="right">{{ data.balance | formatCurrency }}</td>
											<td>
												<button class="btn btn-xs btn-default" type="button" ng-click="edit(data.id)">
												<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
												</button>
												<!-- Delete Modal -->
												<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												  <div class="modal-dialog">
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Delete Account <strong>{{ data.name }}</strong></h4>
													  </div>
													  <div class="modal-body">
														<div class="alert alert-danger" role="alert">Are you sure you want to delete this account?</div>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-danger" data-ng-click="delete(data.id)" data-dismiss="modal">Delete</button>
													  </div>
													</div>
												  </div>
												</div>
											</td>
										</tr>
										<tr ng-if="data.expanded" ng-repeat-end ng-repeat="detail in data.child">
											<td></td>
											<td align="center">{{ $index+1 }}</td>
											<td>{{ detail.code }}</td>
											<td>{{ detail.name }}</td>
											<td>{{ detail.nature_type }}</td>
											<td ng-if>{{ detail.account_type.name }}</td>
											<td>{{ detail.type=='parent'?'':(formatDate(detail.balance_date)) }}</td>
											<td align="right" ng-if>{{ detail.nn_chips | formatCurrency }}</td>
											<td align="right" ng-if>{{ detail.junket_chips | formatCurrency }}</td>
											<td align="right" ng-if>{{ detail.cash_chips | formatCurrency }}</td>
											<td align="right">{{ detail.cash_real | formatCurrency }}</td>
											<td align="right">{{ detail.balance | formatCurrency }}</td>
											<td>
												<button class="btn btn-xs btn-default" type="button" ng-click="edit(detail.id)">
												<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalC{{detail.id}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
												</button>
												<!-- Delete Modal -->
												<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												  <div class="modal-dialog">
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Delete Account <strong>{{ detail.name }}</strong></h4>
													  </div>
													  <div class="modal-body">
														<div class="alert alert-danger" role="alert">Are you sure you want to delete this account?</div>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-danger" data-ng-click="delete(detail.id)" data-dismiss="modal">Delete</button>
													  </div>
													</div>
												  </div>
												</div>
												<!-- Delete Modal Child -->
												<div class="modal fade" id="deleteModalC{{detail.id}}" tabindex="-1" role="dialog">
												  <div class="modal-dialog">
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Delete Account <strong>{{ detail.name }}</strong></h4>
													  </div>
													  <div class="modal-body">
														<div class="alert alert-danger" role="alert">Are you sure you want to delete this account?</div>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-danger" data-ng-click="delete(detail.id)" data-dismiss="modal">Delete</button>
													  </div>
													</div>
												  </div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<br/>
								Total Page : {{ listData.last_page }} - Total Data : {{ listData.total }}
						  	</div>
						  	<div class="col-sm-6" style="text-align:right;">
								<ul class="pagination">
									<li ng-class="{'disabled' : listData.current_page==1}">
										<a href="" ng-show="{{ listData.current_page!=1 }}" aria-label="Previous" ng-click="paging(listData.current_page-1)">
										<span aria-hidden="true">Previous</span>
										</a>
										<span ng-show="{{ listData.current_page==1 }}" aria-hidden="true">Previous</span>
									</li>
									<li ng-repeat="n in range(1,(listData.last_page))" ng-show="showPage(n)" ng-class="{'active':listData.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
									<li ng-class="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
										<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(listData.current_page+1)">
										<span aria-hidden="true">Next</span>
										</a>
										<span ng-show="isLastPage()" aria-hidden="true">Next</span>
									</li>
								</ul>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
