<div ng-controller="agentCompanyController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Company</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>
						
						<div class="row">
							<fieldset class="col-sm-12">
								<legend>Company Details</legend>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="company_name">Company Name *</label>
										<div class="col-sm-8">
											<input type="text" id="company_name" name="company_name" class="form-control" ng-model="fd.company_name" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="pic">PIC Name</label>
										<div class="col-sm-8">
											<input type="text" id="pic" name="pic" class="form-control" ng-model="fd.pic">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="address">Address</label>
										<div class="col-sm-8">
											<textarea id="address" name="address" class="form-control" ng-model="fd.address"></textarea>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="postal_code">Postal Code</label>
										<div class="col-sm-8">
											<input type="text" id="postal_code" name="postal_code" class="form-control" ng-model="fd.postal_code">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="company_contact">Contact</label>
										<div class="col-sm-8">
											<input type="text" id="company_contact" name="company_contact" class="form-control" ng-model="fd.company_contact">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="company_email">Email</label>
										<div class="col-sm-8">
											<input type="email" id="company_email" name="company_email" class="form-control" ng-model="fd.company_email">
										</div>
									</div>
								</div>
							</fieldset>
						</div>

						<div class="form-group col-lg-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
