<div ng-controller="agentCompanyController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Company</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-2" align="center">
									<button id="add" type="button" class="btn btn-primary" ng-click="add()">Add Company</button>
								</div>
								<div class="col-md-4"></div>
								<div class="col-md-6" align="center">
									<div class="col-md-6"></div>
									<form method="post" ng-submit="loadData()">
										<div class="col-sm-4">
											<input type="text" id="search" class="form-control" ng-model="search">
										</div>
										<div class="col-sm-2">
											<button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-body" ng-init="loadData()">
							<div class="table-responsive">
								<table datatable_="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-important">No</th>
											<th>
												<a href="" ng-click="sort('company_name')">
													Company Name
													<span ng-show="sortType == 'company_name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'company_name' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('pic')">
													Person In Charge
													<span ng-show="sortType == 'pic' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'pic' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('address')">
													Address
													<span ng-show="sortType == 'address' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'address' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('postal_code')">
													Postal Code
													<span ng-show="sortType == 'postal_code' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'postal_code' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('company_contact')">
													Contact
													<span ng-show="sortType == 'company_contact' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'company_contact' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('company_email')">
													Email
													<span ng-show="sortType == 'company_email' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'company_email' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listData.data">
											<td align="center">{{ $index+1 }}</td>
											<td>{{ data.company_name }}</td>
											<td>{{ data.pic }}</td>
											<td>{{ data.address }}</td>
											<td>{{ data.postal_code }}</td>
											<td>{{ data.company_contact }}</td>
											<td>{{ data.company_email }}</td>
											<td>
												<button class="btn btn-xs btn-default" type="button" ng-click="edit(data.id)">
												<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
												</button>
												<!-- Delete Modal -->
												<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												  <div class="modal-dialog">
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Delete Agent <strong>{{ data.name }}</strong></h4>
													  </div>
													  <div class="modal-body">
														<div class="alert alert-danger" role="alert">Are you sure you want to delete this agent?</div>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-danger" data-ng-click="delete(data.id)" data-dismiss="modal">Delete</button>
													  </div>
													</div>
												  </div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<br/>
								Total Page : {{ listData.last_page }} - Total Data : {{ listData.total }}
						  	</div>
						  	<div class="col-sm-6" style="text-align:right;">
								<ul class="pagination">
									<li ng-class="{'disabled' : listData.current_page==1}">
										<a href="" ng-show="{{ listData.current_page!=1 }}" aria-label="Previous" ng-click="paging(listData.current_page-1)">
										<span aria-hidden="true">Previous</span>
										</a>
										<span ng-show="{{ listData.current_page==1 }}" aria-hidden="true">Previous</span>
									</li>
									<li ng-repeat="n in range(1,(listData.last_page))" ng-show="showPage(n)" ng-class="{'active':listData.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
									<li ng-class="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
										<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(listData.current_page+1)">
										<span aria-hidden="true">Next</span>
										</a>
										<span ng-show="isLastPage()" aria-hidden="true">Next</span>
									</li>
								</ul>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
