<div ng-controller="SetUpController">

<div class="panel panel-default box">
  <div class="panel-heading"><h3>Bank</h3></div>
    <div class="panel-body">
	<!-- Small boxes (Stat box) -->
	  <div class="row">
	    <div class="col-md-12">
	      <div class="alert alert-danger" role="alert" ng-show="showAlert()">
	         <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
			   <span aria-hidden="true">&times;</span>
			 </button>
			 {{alert}}
		  </div>
	      <div class="alert alert-success" role="alert" ng-show="showSuccess()">
	         <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
			   <span aria-hidden="true">&times;</span>
			 </button>
			 {{success}}
		  </div>
		<div class="panel panel-default" ng-init="getInfo()">
			<div class="panel-body">
				<!-- <div class="row"> -->
				<!-- <div class="row"> -->
				<div class="col-sm-12">
					<div class="form-group">
						<div class="col-sm-12">
						<!-- Custom Tabs -->
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<!-- <li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)" data-toggle="tab">Company Info</a></li>
									 --><li ng-class="{active: isSet(2)}" ng-hide="true"><a href ng-click="setTab(2)" data-toggle="tab">Manage Bank</a></li><!-- 
									<li ng-class="{active: isSet(3)}"><a href ng-click="setTab(3)" data-toggle="tab">Manager Balance</a></li>
									<li ng-class="{active: isSet(4)}"><a href ng-click="setTab(4)" data-toggle="tab">Agent Share</a></li>
									<li ng-class="{active: isSet(5)}"><a href ng-click="setTab(5)" data-toggle="tab">Boss Share</a></li>
									<li ng-class="{active: isSet(6)}"><a href ng-click="setTab(6)" data-toggle="tab">Agent Balance</a></li>
									<li ng-class="{active: isSet(7)}"><a href ng-click="setTab(7)" data-toggle="tab">Boss Balance</a></li> -->
								</ul>
								<div class="tab-content">
									<div class="tab-pane" ng-class="{ active: isSet(1) }">
										<!-- <div class="col-sm-10"> -->
										<form class="form-horizontal" id="formdata" name="formdata" ng-submit="formSetUp()" method="post">
											<input type="hidden" ng-model="fd.id">
											<div class="box-body">
												<div class="col-sm-6">
													<!--div class="form-group">
														<label for="name" class="col-sm-4 control-label left-important">Company Name</label>
														<div class="col-sm-8">
														  <input type="text" id="name" class="form-control" ng-model="fd.name" ng-required="true">
														</div>
													</div-->
													<div class="form-group">
														<label for="nn_chips" class="col-sm-4 control-label left-important">NN Chips</label>
														<div class="col-sm-8">
														  <input type="text" id="nn_chips" class="form-control currency" ng-model="fd.nn_chips" ng-required="true" readonly currency-input>
														</div>
													  </div>
													<div class="form-group">
													  <label for="cash_chips" class="col-sm-4 control-label left-important">Cash Chips</label>
													  <div class="col-sm-8">
													  <input type="text" id="cash_chips" class="form-control currency" ng-model="fd.cash_chips" ng-required="true" readonly currency-input>
													  </div>
													</div>
													<div class="form-group">
													  <label for="cash_real" class="col-sm-4 control-label left-important">Cash Real</label>
														<div class="col-sm-8">
														  <input type="text" id="cash_real" class="form-control currency" ng-model="fd.cash_real" ng-required="true" readonly currency-input>
														</div>
													</div>
													<div class="form-group">
													  <label for="bank_balance" class="col-sm-4 control-label left-important">Bank Balance</label>
														<div class="col-sm-8">
														  <input type="text" id="bank_balance" class="form-control currency" ng-model="fd.bank_balance" ng-required="true" readonly currency-input>
														</div>
													</div>
													<div class="form-group">
													  <label for="open_balance_asset" class="col-sm-4 control-label left-important">Open Balance Asset</label>
														<div class="col-sm-8">
														  <input type="text" id="open_balance_asset" class="form-control currency" ng-model="fd.open_balance_asset" ng-required="true" readonly currency-input>
														</div>
													</div>
													<!--div class="form-group">
													  <label for="date" class="col-sm-4 control-label left-important">Start Date</label>
													  <div class="col-sm-8">
														<input type="text" id="date" class="form-control" ui-date="dateOptions" ng-model="fd.date" ng-required="true">
													  </div>
													</div-->
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label for="agent_share" class="col-sm-4 control-label left-important">Agent Share</label>
														<div class="col-sm-8">
														  <input type="text" id="agent_share" class="form-control currency" ng-model="fd.agent_share" ng-required="true" readonly currency-input>
														</div>
													  </div>
													<div class="form-group">
													  <label for="boss_share" class="col-sm-4 control-label left-important">Boss Share</label>
													  <div class="col-sm-8">
													  <input type="text" id="boss_share" class="form-control currency" ng-model="fd.boss_share" ng-required="true" readonly currency-input>
													  </div>
													</div>
													<div class="form-group">
													  <label for="capital" class="col-sm-4 control-label left-important">Capital</label>
														<div class="col-sm-8">
														  <input type="text" id="capital" class="form-control currency" ng-model="fd.capital" ng-required="true" readonly currency-input>
														</div>
													</div>
												</div>
											</div>
											<!--div class="box-footer">
											  <button class="btn btn-primary pull-right" ng-disabled="formdata.$invalid" type="submit" class="btn btn-success" >Save</button>
											</div-->
										<!-- /.box-body -->
										</form>
										<!-- </div> -->
									</div>
									<div class="tab-pane" ng-class="{ active: isSet(2) }" ng-show="isSet(2)">
										<form id="formdatabank" name="formdatabank" ng-submit="formManageBank()" method="post">
											<div class="row">
												<div class="form-group col-lg-3">
													<label for="name">Prefix</label>
													<input type="text"
														id="name"
														class="form-control"
														ng-model="fmb.name">
												</div>
												<div class="form-group col-lg-4">
													<label for="description">Description</label>
													<input type="text"
														id="description"
														class="form-control"
														ng-model="fmb.description">
												</div>
												<!--div class="form-group col-lg-3">
													<label for="balance">Balance</label>
													<input type="text"
														id="balance"
														class="form-control currency"
														ng-model="fmb.balance"
														currency-input>
												</div-->
												<div class="form-group col-lg-3" ng-init="getAccountOption()">
													<label for="account_id">Account</label>
													<select id="account_id"  class="form-control" ng-model="fmb.account_id" ng-options="account.id as account.name for account in accountOption">
													</select>
												</div>
												<div class="form-group col-lg-2">
													<label>&nbsp;</label><br/>
													<button class=" btn btn-primary"
														type="submit"
														class="btn btn-success" >Save</button>
												</div>
											</div>
										</form>
										<div class="row">
											<div class="table-responsive" ng-init="getManageBank()" >
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th class="center-important">No</th>
															<th>Prefix</th>
															<th>Description</th>
															<!--th>Balance</th-->
															<th>Account</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="data in listDataManageBank" ng-include="getTemplateB(data)">
														</tr>
													</tbody>
												</table>
												<script type="text/ng-template" id="display">
													<td align="center">{{ $index+1 }}</td>
													<td>{{ data.name }}</td>
													<td>{{ data.description }}</td>
													<!--td align="right">{{ data.balance | formatCurrency }}</td-->
													<td>{{ data.account.name }}</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editFormB(data)">
															<i class="glyphicon glyphicon-edit"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete bank<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this bank?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteBank(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>

												<script type="text/ng-template" id="edit">
													<td align="center">{{ $index+1 }}</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm" id="name_b" name="name_b" ng-model="selectedB.name" ng-keyup="$event.keyCode == 13 && editBank(data.id)">
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm" id="description_b" name="description_b" ng-model="selectedB.description" ng-keyup="$event.keyCode == 13 && editBank(data.id)">
													</td>
													<td class="input-group-sm">
														<select id="account_id_b"  class="form-control" ng-model="selectedB.account_id" ng-options="account.id as account.name for account in accountOption">
														<!--input type="text" class="form-control input-sm currency" id="balance_b" name="balance_b" ng-model="selectedB.balance" ng-keyup="$event.keyCode == 13 && editBank(data.id)" currency-input-->
													</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editBank(data.id)">
															<i class="glyphicon glyphicon-floppy-disk"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete bank<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this bank?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteBank(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>
											</div>
										</div>
									</div>
									<!-- /.tab-pane -->
									<div class="tab-pane" ng-class="{ active: isSet(3) }" ng-show="isSet(3)">
										<form ng-submit="formManagerBalance()">
											<div class="row">
												<div class="form-group col-lg-3" ng-init="getManagerOption()">
													<label for="manager_id">Manager</label>
													<select id="manager_id"  class="form-control" ng-model="fmbal.manager_id" ng-options="manager.id as manager.name for manager in managerOption">
													</select>
												</div>
												<div class="form-group col-lg-2">
													<label for="nn_chips">NN Chips</label>
													<input type="text" id="nn_chips" class="form-control currency" ng-model="fmbal.nn_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="cash_chips">Cash Chips</label>
													<input type="text" id="cash_chips" class="form-control currency" ng-model="fmbal.cash_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="cash_real">Cash Real</label>
													<input type="text" id="cash_real" class="form-control currency" ng-model="fmbal.cash_real" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label>&nbsp;</label><br/>
													<button class=" btn btn-primary"
														type="submit"
														class="btn btn-success" >Save</button>
												</div>
											</div>
										</form>
										
										<div class="row">
											<div class="table-responsive" ng-init="getManagerBalance()" >
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th class="center-important">No</th>
															<th>Manager</th>
															<th>NN Chips</th>
															<th>Cash Chips</th>
															<th>Cash Real</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="data in listDataManagerBalance" ng-include="getTemplateMB(data)">
														</tr>
													</tbody>
												</table>
												<script type="text/ng-template" id="displayM">
													<td align="center">{{ $index+1 }}</td>
													<td>{{ data.user.name }}</td>
													<td align="right">{{ data.nn_chips | formatCurrency }}</td>
													<td align="right">{{ data.cash_chips | formatCurrency }}</td>
													<td align="right">{{ data.cash_real | formatCurrency }}</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editFormMB(data)">
															<i class="glyphicon glyphicon-edit"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalMB{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModalMB{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete balance<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this balance?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteManagerBalance(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>

												<script type="text/ng-template" id="editM">
													<td align="center">{{ $index+1 }}</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm" id="username_mb" name="username_mb" ng-model="selectedMB.user.name" ng-keyup="$event.keyCode == 13 && editManagerBalance(data.id)" disabled>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="nn_chips_mb" name="nn_chips_mb" ng-model="selectedMB.nn_chips" ng-keyup="$event.keyCode == 13 && editManagerBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="cash_chips_mb" name="cash_chips_mb" ng-model="selectedMB.cash_chips" ng-keyup="$event.keyCode == 13 && editManagerBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="cash_real_mb" name="cash_real_mb" ng-model="selectedMB.cash_real" ng-keyup="$event.keyCode == 13 && editManagerBalance(data.id)" currency-input>
													</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editManagerBalance(data.id)">
															<i class="glyphicon glyphicon-floppy-disk"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalMB{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModalMB{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete balance<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this balane?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteManagerBalance(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>
											</div>
										</div>
									</div>
									<!-- /.tab-pane -->
									<div class="tab-pane" ng-class="{ active: isSet(4) }" ng-show="isSet(4)">
										<form class="form-horizontal" ng-submit="formAgentShare()">
											<table>
												<tr>
													<td>
														<div class="form-group" ng-init="getAgentOption()">
															<label for="agent_id" class="col-lg-5 control-label">Agent</label>
															<div class="col-lg-7 ">
																<select id="agent_id"  class="form-control" ng-model="fas.agent_id" ng-options="agent.id as agent.name for agent in agentOption">
																</select>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<label for="amount" class="col-lg-5 control-label">Amount</label>
															<div class="col-lg-7 ">
																<input type="text" id="amount" class="form-control currency" ng-model="fas.amount" currency-input>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group" style="margin-left:10px">
															<button class=" btn btn-primary"
																type="submit"
																class="btn btn-success" >Save</button>
														</div>
													</td>
												</tr>
											</table>
										</form>

										<div class="panel-body table-responsive" ng-init="getAgentShare()" >
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="center-important">No</th>
														<th>Agent</th>
														<th>Amount</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="data in listDataAgentShare" ng-include="getTemplateAS(data)">
													</tr>
												</tbody>
											</table>
											<script type="text/ng-template" id="displayA">
												<td align="center">{{ $index+1 }}</td>
												<td>{{ data.agent.name }}</td>
												<td align="right">{{ data.amount | formatCurrency }}</td>
												<td>
													<button type="button" class="btn btn-xs btn-default" ng-click="editFormAS(data)">
														<i class="glyphicon glyphicon-edit"></i>
													</button>
													<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalAS{{$index}}" data-ng-click="Clear()">
														<i class="glyphicon glyphicon-trash"></i>
													</button>
													<!-- Delete Modal -->
													<div class="modal fade" id="deleteModalAS{{$index}}" tabindex="-1" role="dialog">
													  <div class="modal-dialog">
														<div class="modal-content">
														  <div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">Delete agent share<strong></strong></h4>
														  </div>
														  <div class="modal-body">
															<div class="alert alert-danger" role="alert">Are you sure you want to delete this share?</div>
														  </div>
														  <div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="button" class="btn btn-danger" data-ng-click="deleteAgentShare(data.id)" data-dismiss="modal">Delete</button>
														  </div>
														</div>
													  </div>
													</div>
												</td>
											</script>

											<script type="text/ng-template" id="editA">
												<td align="center">{{ $index+1 }}</td>
												<td class="input-group-sm">
													<input type="text" class="form-control input-sm" id="name_as" name="name_as" ng-model="selectedAS.agent.name" ng-keyup="$event.keyCode == 13 && editAgentShare(data.id)" disabled>
												</td>
												<td class="input-group-sm">
													<input type="text" class="form-control input-sm currency" id="amount_as" name="amount_as" ng-model="selectedAS.amount" ng-keyup="$event.keyCode == 13 && editAgentShare(data.id)" currency-input>
												</td>
												<td>
													<button type="button" class="btn btn-xs btn-default" ng-click="editAgentShare(data.id)">
														<i class="glyphicon glyphicon-floppy-disk"></i>
													</button>
													<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalAS{{$index}}" data-ng-click="Clear()">
														<i class="glyphicon glyphicon-trash"></i>
													</button>
													<!-- Delete Modal -->
													<div class="modal fade" id="deleteModalAS{{$index}}" tabindex="-1" role="dialog">
													  <div class="modal-dialog">
														<div class="modal-content">
														  <div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">Delete agent share<strong></strong></h4>
														  </div>
														  <div class="modal-body">
															<div class="alert alert-danger" role="alert">Are you sure you want to delete this share?</div>
														  </div>
														  <div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="button" class="btn btn-danger" data-ng-click="deleteAgentShare(data.id)" data-dismiss="modal">Delete</button>
														  </div>
														</div>
													  </div>
													</div>
												</td>
											</script>
										</div>
									</div>
									<!-- /.tab-pane -->
									<div class="tab-pane" ng-class="{ active: isSet(5) }" ng-show="isSet(5)">
										<form class="form-horizontal" ng-submit="formBossShare()">
											<table>
												<tr>
													<td>
														<div class="form-group" ng-init="getBossOption()">
															<label for="boss_id" class="col-lg-5 control-label">Boss</label>
															<div class="col-lg-7 ">
																<select id="boss_id"  class="form-control" ng-model="fbs.boss_id" ng-options="boss.id as boss.name for boss in bossOption">
																</select>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<label for="amount" class="col-lg-5 control-label">Amount</label>
															<div class="col-lg-7 ">
																<input type="text" id="amount" class="form-control currency" ng-model="fbs.amount" currency-input>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group" style="margin-left:10px">
															<button class=" btn btn-primary"
																type="submit"
																class="btn btn-success" >Save</button>
														</div>
													</td>
												</tr>
											</table>
										</form>

										<div class="panel-body table-responsive" ng-init="getBossShare()" >
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="center-important">No</th>
														<th>Boss</th>
														<th>Amount</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="data in listDataBossShare" ng-include="getTemplateBS(data)">
													</tr>
												</tbody>
											</table>
											<script type="text/ng-template" id="displayBS">
												<td align="center">{{ $index+1 }}</td>
												<td>{{ data.user.name }}</td>
												<td align="right">{{ data.amount | formatCurrency }}</td>
												<td>
													<button type="button" class="btn btn-xs btn-default" ng-click="editFormBS(data)">
														<i class="glyphicon glyphicon-edit"></i>
													</button>
													<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalBS{{$index}}" data-ng-click="Clear()">
														<i class="glyphicon glyphicon-trash"></i>
													</button>
													<!-- Delete Modal -->
													<div class="modal fade" id="deleteModalBS{{$index}}" tabindex="-1" role="dialog">
													  <div class="modal-dialog">
														<div class="modal-content">
														  <div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">Delete boss share<strong></strong></h4>
														  </div>
														  <div class="modal-body">
															<div class="alert alert-danger" role="alert">Are you sure you want to delete this share?</div>
														  </div>
														  <div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="button" class="btn btn-danger" data-ng-click="deleteBossShare(data.id)" data-dismiss="modal">Delete</button>
														  </div>
														</div>
													  </div>
													</div>
												</td>
											</script>

											<script type="text/ng-template" id="editBS">
												<td align="center">{{ $index+1 }}</td>
												<td class="input-group-sm">
													<input type="text" class="form-control input-sm" id="name_bs" name="name_bs" ng-model="selectedBS.user.name" ng-keyup="$event.keyCode == 13 && editBossShare(data.id)" disabled>
												</td>
												<td class="input-group-sm">
													<input type="text" class="form-control input-sm currency" id="amount_bs" name="amount_bs" ng-model="selectedBS.amount" ng-keyup="$event.keyCode == 13 && editBossShare(data.id)" currency-input>
												</td>
												<td>
													<button type="button" class="btn btn-xs btn-default" ng-click="editBossShare(data.id)">
														<i class="glyphicon glyphicon-floppy-disk"></i>
													</button>
													<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalBS{{$index}}" data-ng-click="Clear()">
														<i class="glyphicon glyphicon-trash"></i>
													</button>
													<!-- Delete Modal -->
													<div class="modal fade" id="deleteModalBS{{$index}}" tabindex="-1" role="dialog">
													  <div class="modal-dialog">
														<div class="modal-content">
														  <div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">Delete boss share<strong></strong></h4>
														  </div>
														  <div class="modal-body">
															<div class="alert alert-danger" role="alert">Are you sure you want to delete this share?</div>
														  </div>
														  <div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="button" class="btn btn-danger" data-ng-click="deleteBossShare(data.id)" data-dismiss="modal">Delete</button>
														  </div>
														</div>
													  </div>
													</div>
												</td>
											</script>
										</div>
									</div>
									<div class="tab-pane" ng-class="{ active: isSet(6) }" ng-show="isSet(6)">
										<form ng-submit="formAgentBalance()">
											<div class="row">
												<div class="form-group col-lg-3">
													<label for="agent_id">Agent</label>
													<select id="agent_id"  class="form-control" ng-model="fabal.agent_id" ng-options="agent.id as agent.name for agent in agentOption">
													</select>
												</div>
												<div class="form-group col-lg-2">
													<label for="junket_chips">Junket NN Chips</label>
													<input type="text" id="junket_chips" class="form-control currency" ng-model="fabal.junket_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="nn_chips">NN Chips</label>
													<input type="text" id="nn_chips" class="form-control currency" ng-model="fabal.nn_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="cash_chips">Cash Chips</label>
													<input type="text" id="cash_chips" class="form-control currency" ng-model="fabal.cash_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="cash_real">Cash Real</label>
													<input type="text" id="cash_real" class="form-control currency" ng-model="fabal.cash_real" currency-input>
												</div>
												<div class="form-group col-lg-1">
													<label>&nbsp;</label><br/>
													<button class=" btn btn-primary"
														type="submit"
														class="btn btn-success" >Save</button>
												</div>
											</div>
										</form>

										<div class="row">
											<div class="table-responsive" ng-init="getAgentBalance()" >
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th class="center-important">No</th>
															<th>Agent</th>
															<th>Junket NN Chips</th>
															<th>NN Chips</th>
															<th>Cash Chips</th>
															<th>Cash Real</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="data in listDataAgentBalance" ng-include="getTemplateAB(data)">
														</tr>
													</tbody>
												</table>
												<script type="text/ng-template" id="displayAB">
													<td align="center">{{ $index+1 }}</td>
													<td>{{ data.agent.name }}</td>
													<td align="right">{{ data.junket_chips | formatCurrency }}</td>
													<td align="right">{{ data.nn_chips | formatCurrency }}</td>
													<td align="right">{{ data.cash_chips | formatCurrency }}</td>
													<td align="right">{{ data.cash_real | formatCurrency }}</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editFormAB(data)">
															<i class="glyphicon glyphicon-edit"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalAB{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModalAB{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete balance<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this balance?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteAgentBalance(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>

												<script type="text/ng-template" id="editAB">
													<td align="center">{{ $index+1 }}</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm" id="name_ab" name="name_ab" ng-model="selectedAB.agent.name" ng-keyup="$event.keyCode == 13 && editAgentBalance(data.id)" disabled>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="junket_chips_ab" name="junket_chips_ab" ng-model="selectedAB.junket_chips" ng-keyup="$event.keyCode == 13 && editAgentBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="nn_chips_ab" name="nn_chips_ab" ng-model="selectedAB.nn_chips" ng-keyup="$event.keyCode == 13 && editAgentBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="cash_chips_ab" name="cash_chips_ab" ng-model="selectedAB.cash_chips" ng-keyup="$event.keyCode == 13 && editAgentBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="cash_real_ab" name="cash_real_ab" ng-model="selectedAB.cash_real" ng-keyup="$event.keyCode == 13 && editAgentBalance(data.id)" currency-input>
													</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editAgentBalance(data.id)">
															<i class="glyphicon glyphicon-floppy-disk"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalAB{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModalAB{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete balance<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this balane?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteAgentBalance(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>
											</div>
										</div>
									</div>
									<div class="tab-pane" ng-class="{ active: isSet(7) }" ng-show="isSet(7)">
										<form ng-submit="formBossBalance()">
											<div class="row">
												<div class="form-group col-lg-3">
													<label for="boss_id">Boss</label>
													<select id="boss_id"  class="form-control" ng-model="fbbal.boss_id" ng-options="boss.id as boss.name for boss in bossOption">
													</select>
												</div>
												<div class="form-group col-lg-2">
													<label for="junket_chips">Junket NN Chips</label>
													<input type="text" id="junket_chips" class="form-control currency" ng-model="fbbal.junket_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="nn_chips">NN Chips</label>
													<input type="text" id="nn_chips" class="form-control currency" ng-model="fbbal.nn_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="cash_chips">Cash Chips</label>
													<input type="text" id="cash_chips" class="form-control currency" ng-model="fbbal.cash_chips" currency-input>
												</div>
												<div class="form-group col-lg-2">
													<label for="cash_real">Cash Real</label>
													<input type="text" id="cash_real" class="form-control currency" ng-model="fbbal.cash_real" currency-input>
												</div>
												<div class="form-group col-lg-1">
													<label>&nbsp;</label><br/>
													<button class=" btn btn-primary"
														type="submit"
														class="btn btn-success" >Save</button>
												</div>
											</div>
										</form>

										<div class="row">
											<div class="table-responsive" ng-init="getBossBalance()" >
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th class="center-important">No</th>
															<th>Boss</th>
															<th>Junket NN Chips</th>
															<th>NN Chips</th>
															<th>Cash Chips</th>
															<th>Cash Real</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="data in listDataBossBalance" ng-include="getTemplateBB(data)">
														</tr>
													</tbody>
												</table>
												<script type="text/ng-template" id="displayBB">
													<td align="center">{{ $index+1 }}</td>
													<td>{{ data.boss.name }}</td>
													<td align="right">{{ data.junket_chips | formatCurrency }}</td>
													<td align="right">{{ data.nn_chips | formatCurrency }}</td>
													<td align="right">{{ data.cash_chips | formatCurrency }}</td>
													<td align="right">{{ data.cash_real | formatCurrency }}</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editFormBB(data)">
															<i class="glyphicon glyphicon-edit"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalBB{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModalBB{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete balance<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this balance?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteBossBalance(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>

												<script type="text/ng-template" id="editBB">
													<td align="center">{{ $index+1 }}</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm" id="name_bb" name="name_bb" ng-model="selectedBB.boss.name" ng-keyup="$event.keyCode == 13 && editBossBalance(data.id)" disabled>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="junket_chips_bb" name="junket_chips_bb" ng-model="selectedBB.junket_chips" ng-keyup="$event.keyCode == 13 && editBossBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="nn_chips_bb" name="nn_chips_bb" ng-model="selectedBB.nn_chips" ng-keyup="$event.keyCode == 13 && editBossBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="cash_chips_bb" name="cash_chips_bb" ng-model="selectedBB.cash_chips" ng-keyup="$event.keyCode == 13 && editBossBalance(data.id)" currency-input>
													</td>
													<td class="input-group-sm">
														<input type="text" class="form-control input-sm currency" id="cash_real_bb" name="cash_real_bb" ng-model="selectedBB.cash_real" ng-keyup="$event.keyCode == 13 && editBossBalance(data.id)" currency-input>
													</td>
													<td>
														<button type="button" class="btn btn-xs btn-default" ng-click="editBossBalance(data.id)">
															<i class="glyphicon glyphicon-floppy-disk"></i>
														</button>
														<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModalBB{{$index}}" data-ng-click="Clear()">
															<i class="glyphicon glyphicon-trash"></i>
														</button>
														<!-- Delete Modal -->
														<div class="modal fade" id="deleteModalBB{{$index}}" tabindex="-1" role="dialog">
														  <div class="modal-dialog">
															<div class="modal-content">
															  <div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">Delete balance<strong></strong></h4>
															  </div>
															  <div class="modal-body">
																<div class="alert alert-danger" role="alert">Are you sure you want to delete this balane?</div>
															  </div>
															  <div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="button" class="btn btn-danger" data-ng-click="deleteBossBalance(data.id)" data-dismiss="modal">Delete</button>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</script>
											</div>
										</div>
									</div>
									<!-- /.tab-pane -->
								</div>
								<!-- /.tab-content -->
							</div>
						<!-- nav-tabs-custom -->
						</div>
					</div>

				</div>
				<!-- </div> -->
			<!-- </div> -->
			</div>
		</div>
	</div>
</div>
