<div ng-controller="chipFromRunnerController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Chips Return</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
	          		<form id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="table-responsive">
							<div class="form-horizontal">
								<div class="col-sm-6">
									<label for="date" class="col-sm-5 control-label left-important">Date</label>
									<div class="col-sm-7">
										<input type="text" ui-date="dateOptions" id="date" class="form-control" placeholder="yyyy-mm-dd" ng-model="fd.date">
									</div>
								</div>
								<div class="col-sm-6" class="form-group">
									<label for="title" class="col-sm-5 control-label">&nbsp;</label>
									<div class="col-sm-7">
										<input type="hidden" id="title" class="form-control" ng-Readonly="true">
									</div>
								</div>
								<br><br>
								<div class="col-sm-6" ng-init="getRunner(6)">
									<label for="title" class="col-sm-5 control-label left-important">From</label>
										<div class="col-sm-5 control-label">
										<input type="radio" name="radio_from" value="runner" ng-model="fd.radio_from" ng-checked="true" ng-change="radioFrom()" ng-disabled="user.roles!='Administrator'"> Runner
										<input type="radio" name="radio_from" value="assistant" ng-model="fd.radio_from"  ng-change="radioFrom()" ng-disabled="user.roles!='Administrator'"> Assistant
										<br><br>
										<select id="option_from" class="form-control" ng-model="fd.from_user_id" ng-options="runner.id as runner.name for runner in runnerOption" ng-disabled="user.roles!='Administrator'" ng-change="loadOutstanding()">
										</select>
									</div>
								</div>
								<div class="col-sm-6" ng-init="getManager()">
									<span class="col-sm-1 control-label"><i class="glyphicon glyphicon-arrow-right"></i></span>
									<label for="title" class="col-sm-5 control-label left-important">To Manager</label>
									<div class="col-sm-5">
										<select type="text" id="toManager" class="form-control" ng-model="fd.to_user_id" ng-options="manager.id as manager.name for manager in managerOption">
										</select>
									</div>
								</div>
								<br><br><br>
								<div class="col-sm-6">
									<label for="title" class="col-sm-5 control-label left-important">Shift From</label>
									<div class="col-sm-5 control-label">
										<input type="radio" name="shift" value="Morning" ng-model="fd.shift_from"> Morning
										<input type="radio" name="shift" value="Night" ng-model="fd.shift_from"> Night
									</div>
								</div>
								<br><br><br>
								<div class="col-sm-6">
									<label for="nn_chips" class="col-sm-5 control-label left-important">NN Chips</label>
									<div class="col-sm-7">
										<input type="text" id="nn_chips" class="form-control currency" ng-model="fd.nn_chips" currency-input>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="nn_chips" class="col-sm-5 control-label left-important">Junket Chips</label>
									<div class="col-sm-7">
										<input type="text" id="junket_chips" class="form-control currency" ng-model="fd.junket_chips" currency-input>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="cash_chips" class="col-sm-5 control-label left-important">Cash Chips</label>
									<div class="col-sm-7">
										<input type="text" id="cash_chips" class="form-control currency" ng-model="fd.cash_chips" currency-input>
									</div>
								</div>
								<div class="col-sm-6" ng-hide="true">
									<label for="cash_real" class="col-sm-5 control-label left-important">Cash Real</label>
									<div class="col-sm-7">
										<input type="text" id="cash_real" class="form-control currency" ng-model="fd.cash_real" currency-input>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="nn_chips_out" class="col-sm-5 control-label left-important">Chips Outstanding</label>
									<div class="col-sm-7">
										<input type="text" id="nn_chips_out" class="form-control currency" ng-model="fd.nn_chips_out" readonly currency-input>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="balance" class="col-sm-5 control-label left-important">Balance</label>
									<div class="col-sm-7">
										<input type="text" id="balance" class="form-control currency" ng-model="fd.balance" readonly currency-input>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="remark" class="col-sm-5 control-label left-important">Remark</label>
									<div class="col-sm-7">
										<input type="text" id="remark" class="form-control" ng-model="fd.remark">
									</div>
								</div>
								<div class="col-sm-12" ng-if="outstandingData.length>0">
									<h4>Outstanding Chips</h4>
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Date</th>
												<th>Customer</th>
												<th>Credit</th>
												<th>Closing NN Chips</th>
												<th>Closing Cash Chips</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="row in outstandingData">
												<td>{{formatDate(row.date)}}</td>
												<td>{{row.customer.first_name}}</td>
												<td align="right">{{row.credit | formatCurrency}}</td>
												<td align="right">{{row.closing_nn_chips | formatCurrency}}</td>
												<td align="right">{{row.closing_cash_chips | formatCurrency}}</td>
												<td align="center">{{row.status==1?'Open':'Closed'}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="col-sm-12" align="right">
								<div class="form-group col-sm-12">
									<button type="submit" ng-disabled="formdata.$invalid" class="btn btn-success">Save</button>
									<button type="button" ng-click="cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
