<div ng-controller="chipFromRunnerController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Chips Return</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-2" align="center" ng-init="checkbutton()">
									<button ng-show="permissionCreate" id="addChipFromRA" type="button" class="btn btn-primary" ng-click="add()">Add Chip Return</button>
								</div>
								<div class="col-md-4"></div>
								<div class="col-md-6" align="center">
									<div class="col-md-6"></div>
									<form method="post" ng-submit="loadData()">
										<div class="col-sm-4">
	                  						<input type="text" ui-date="dateOptions" id="searchDate" class="form-control" ng-model="searchDate">
										</div>
										<div class="col-sm-2">
	                  						<button id="btnSearchDate" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" ng-init="loadData()">
									<thead>
										<tr>
											<th style="text-align:center !important">No</th>
											<th>
												<a href="" ng-click="sort('date')">
													Date
													<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'date' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('from_user')">
													Name
													<span ng-show="sortType == 'from_user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'from_user' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('to_user')">
													To Manager
													<span ng-show="sortType == 'to_user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'to_user' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('nn_chips')">
													NN Chips
													<span ng-show="sortType == 'nn_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'nn_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('junket_chips')">
													Junket Chips
													<span ng-show="sortType == 'junket_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'junket_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('cash_chips')">
													Cash Chips
													<span ng-show="sortType == 'cash_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'cash_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('cash_real')">
													Cash Real
													<span ng-show="sortType == 'cash_real' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'cash_real' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="shift in dataTable.data">
											<td align="center">{{ $index+1 }}</td>
											<td>{{ shift.date | date: 'dd MMM yyyy' }}</td>
											<td>{{ shift.from_user.name }}</td>
											<td>{{ shift.to_user.name }}</td>
											<td align="right">{{ shift.nn_chips | formatCurrency }}</td>
											<td align="right">{{ shift.junket_chips | formatCurrency }}</td>
											<td align="right">{{ shift.cash_chips | formatCurrency }}</td>
											<td align="right">{{ shift.cash_real | formatCurrency }}</td>
											<td>
												<!--<button class="btn btn-default" type="button" data-toggle="modal" data-target="#detailCust" data-ng-click="custByID(shift.id)">
												<span class="glyphicon glyphicon-file"></span>
												</button>-->
												<button class="btn btn-xs btn-default" type="button" ng-click="edit(shift.id)" ng-show="(shift.from_user_id == user.id || user.roles=='Administrator') && shift.status == 0 ">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()" ng-show="(shift.from_user_id == user.id || user.roles=='Administrator') && shift.status == 0 ">
													<i class="glyphicon glyphicon-trash"></i>
												</button>
												<span class='label label-info' ng-show = "shift.status == 1">Accepted</span>
												<!-- Delete Modal -->
												<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												  <div class="modal-dialog">
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Delete Chips From Runner/Assistant<strong></strong></h4>
													  </div>
													  <div class="modal-body">
														<div class="alert alert-danger" role="alert">Are you sure you want to delete this shift history?</div>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-danger" data-ng-click="deleteShift(shift.id)" data-dismiss="modal">Delete</button>
													  </div>
													</div>
												  </div>
												</div>
												<button class="btn btn-xs btn-default" type="button" ng-click="approval(shift.id)" ng-show="shift.to_user_id == user.id && shift.status == 0"> Accept
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						    <div class="col-sm-6">
								<br/>
								Total Page : {{ dataTable.last_page }} - Total Data : {{ dataTable.total }}
						  	</div>
						  	<div class="col-sm-6" style="text-align:right;">
								<ul class="pagination">
									<li ng-class="{'disabled' : dataTable.current_page==1}">
										<a href="" ng-show="{{ dataTable.current_page!=1 }}" aria-label="Previous" ng-click="paging(dataTable.current_page-1)">
										<span aria-hidden="true">Previous</span>
										</a>
										<span ng-show="{{ dataTable.current_page==1 }}" aria-hidden="true">Previous</span>
									</li>
									<li ng-repeat="n in range(1,(dataTable.last_page))" ng-show="showPage(n)" ng-class="{'active':dataTable.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
									<li ng-class="{'disabled' : dataTable.current_page==dataTable.last_page || dataTable.last_page==0}">
										<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(dataTable.current_page+1)">
										<span aria-hidden="true">Next</span>
										</a>
										<span ng-show="isLastPage()" aria-hidden="true">Next</span>
									</li>
								</ul>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
