<div ng-controller="sellChipController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Chips Out</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-2" align="center" ng-init="checkbutton()">
									<button id="addSellChips" type="button" class="btn btn-primary" ng-show="permissionCreate" ng-click="add()">Add Chips Out</button>
								</div>
								<div class="col-md-4"></div>
								<div class="col-md-6" align="center">
									<div class="col-md-6"></div>
									<form method="post" ng-submit="loadData()">
										<div class="col-sm-4">
	                  						<input type="text" id="search" class="form-control" ng-model="search">
										</div>
										<div class="col-sm-2">
	                  						<button id="btnSearchDate" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered" ng-init="loadData()">
									<thead>
										<tr>
											<th class="center-important">No</th>
											<th width="30"></th>
											<th>
												<a href="" ng-click="sort('date')">
													Date
													<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'date' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('from_user')">
													From Manager
													<span ng-show="sortType == 'from_user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'from_user' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('shift_from')">
													Shift
													<span ng-show="sortType == 'shift_from' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'shift_from' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('nn_chips')">
													NN Chips
													<span ng-show="sortType == 'nn_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'nn_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>
												<a href="" ng-click="sort('junket_chips')">
													Junket Chips
													<span ng-show="sortType == 'junket_chips' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'junket_chips' && sortReverse" class="fa fa-sort-amount-desc"></span>
												  </a>
											</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat-start="shift in dataTable.data">
											<td align="center">{{ $index+1 }}</td>
											<td>
												<a href="" ng-if="!shift.expanded" ng-click="shift.expanded = true; getDetail($index);">
													<i class="glyphicon glyphicon-plus"></i>
												</a>
												<a href="" ng-if="shift.expanded" ng-click="shift.expanded = false;">
													<i class="glyphicon glyphicon-minus"></i>
												</a>
											</td>
											<td>{{ shift.date | date: 'dd MMM yyyy' }}</td>
											<td>{{ shift.from_user.name }}</td>
											<td>{{ shift.shift_from }}</td>
											<td align="right">{{ shift.nn_chips | formatCurrency }}</td>
											<td align="right">{{ shift.junket_chips | formatCurrency }}</td>
											<td>
												<!--<button class="btn btn-default" type="button" data-toggle="modal" data-target="#detailCust" data-ng-click="custByID(shift.id)">
												<span class="glyphicon glyphicon-file"></span>
												</button>-->
												<button class="btn btn-xs btn-default" type="button" data-ng-click="approval(shift.id)" ng-disabled="shift.status == 1" ng-show="shift.to_user_id == user.id"> Accept </button>
												<button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#formSellChips" data-ng-click="edit(shift.id)" ng-show="shift.from_user_id == user.id || user.roles=='Administrator'">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()" ng-show="shift.from_user_id == user.id || user.roles=='Administrator'">
													<i class="glyphicon glyphicon-trash"></i>
												</button>

												<!-- Delete Modal -->
												<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												  <div class="modal-dialog">
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Delete Shift History <strong></strong></h4>
													  </div>
													  <div class="modal-body">
														<div class="alert alert-danger" role="alert">Are you sure you want to delete this shift history?</div>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-danger" data-ng-click="delete(shift)" data-dismiss="modal">Delete</button>
													  </div>
													</div>
												  </div>
												</div>
											</td>
										</tr>
										<tr ng-if="shift.expanded" ng-repeat-end="">
											<td></td>
											<td colspan="7">
												<table class="table table-bordered table-striped" style="margin:0px;">
													<tr>
														<th>To Name</th>
														<th>NN Chips</th>
														<th>Junket Chips</th>
														<th>Accept</th>
													</tr>
													<tr ng-repeat="detail in subData[$index]">
														<td>{{detail.to_user.name}}</td>
														<td align="right">{{detail.nn_chips | formatCurrency}}</td>
														<td align="right">{{detail.junket_chips | formatCurrency}}</td>
														<td>
															<button class="btn btn-xs btn-default" type="button" data-ng-click="approval(detail.id)" ng-show="detail.to_user_id == user.id && detail.status == 0"  > Accept </button>
															<span class='label label-success' ng-show = "detail.status == 1">Accepted</span>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="col-sm-6">
									<br/>
									Total Page : {{ dataTable.last_page }} - Total Data : {{ dataTable.total }}
								</div>
								<div class="col-sm-6" style="text-align:right;">
									<ul class="pagination">
										<li ng-class="{'disabled' : dataTable.current_page==1}">
											<a href="" ng-show="{{ dataTable.current_page!=1 }}" aria-label="Previous" ng-click="paging(dataTable.current_page-1)">
											<span aria-hidden="true">Previous</span>
											</a>
											<span ng-show="{{ dataTable.current_page==1 }}" aria-hidden="true">Previous</span>
										</li>
										<li ng-repeat="n in range(1,(dataTable.last_page))" ng-show="showPage(n)" ng-class="{'active':dataTable.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
										<li ng-class="{'disabled' : dataTable.current_page==dataTable.last_page || dataTable.last_page==0}">
											<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(dataTable.current_page+1)">
											<span aria-hidden="true">Next</span>
											</a>
											<span ng-show="isLastPage()" aria-hidden="true">Next</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	/*
	function shift_from_change() {
		var shift = $('input[name="shift_from"]:checked').val();
		$('input[name="shift_from"]').attr('disabled',false);
		if (shift == "Morning") {
			$(".shift_to[value=Night]").attr('disabled', false);
			$(".shift_to[value=Night]").attr('checked',true);
			$(".shift_to[value=Morning]").removeAttr('checked');
			$(".shift_to[value=Morning]").attr('disabled', true);
		} else if (shift == "Night") {
			$(".shift_to[value=Morning]").attr('disabled', false);
			$(".shift_to[value=Morning]").attr('checked', true);
			$(".shift_to[value=Night]").attr('disabled', true);
			$(".shift_to[value=Night]").removeAttr('checked');
		}
		var shift_to = $('input[name="shift_to"]:checked').val();
	}

	function shift_to_change() {
		var shift = $('input[name="shift_to"]:checked').val();
		$('input[name="shift_to"]').attr('disabled',false);
		if (shift == "Morning") {
			$(".shift_from[value=Night]").attr('disabled', false);
			$(".shift_from[value=Night]").attr('checked',true);
			$(".shift_from[value=Morning]").attr('disabled', true);
		} else if (shift == "Night") {
			$(".shift_from[value=Morning]").attr('disabled', false);
			$(".shift_from[value=Morning]").attr('checked', true);
			$(".shift_from[value=Night]").attr('disabled', true);
		}
	}*/
</script>
