<div ng-controller="shiftHistoriesController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Shift Transfer</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<form id="formdata" name="formdata" method="post" ng-submit="save();">

						<div class="table-responsive">
							<div class="form-horizontal" ng-init="initData();getManager();getEdit();">
								<div class="col-sm-6">
									<label for="date" class="col-sm-5 control-label">Date</label>
									<div class="col-sm-7"><input type="text" ui-date="dateOptions" id="date" class="form-control" placeholder="yyyy-mm-dd" ng-model="fd.date" ng-required="true"></div>
								</div>
								<div class="col-sm-6">
									<label class="col-sm-5">&nbsp;</label>
									<div class="col-sm-7"><input type="hidden" id="title" class="form-control" ng-required="true" ng-Readonly="true"></div>
								</div>
								<br/><br/><br/>
								<div class="col-sm-6">
									<label for="title" class="col-sm-5 control-label">From Manager</label>
									<div class="col-sm-7">
										<select id="from_user_id"  class="form-control" ng-model="fd.from_user_id" ng-options="manager.id as manager.name for manager in managerOption" ng-required="true" ng-disabled="user.roles!='Administrator' && user.roles!='Assistant Manager'">
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<span class="col-sm-1 control-label"><i class="glyphicon glyphicon-arrow-right"></i></span>
									<label for="toManager" class="col-sm-4 control-label">To Manager</label>
									<div class="col-sm-7">
										<select id="to_user_id"  class="form-control" ng-model="fd.to_user_id" ng-options="manager.id as manager.name for manager in managerOption" ng-required="true">
										</select>
									</div>
								</div>
								<br/><br/><br/>
								<div class="col-sm-6">
									<label for="title" class="col-sm-5 control-label">From Shift</label>
									<div class="col-sm-7 control-label">
										<input type="radio" name="shift_from" value="Morning" ng-model="fd.shift_from" ng-checked="fd.shift_from == 'Morning'" ng-change="shift_from()"> Morning
										<input type="radio" name="shift_from" value="Night" ng-model="fd.shift_from" ng-checked="fd.shift_from == 'Night'" ng-change="shift_from()"> Night
									</div>
								</div>
								<div class="col-sm-6">
									<span class="col-sm-1 control-label"><i class="glyphicon glyphicon-arrow-right"></i></span>
									<label for="title" class="col-sm-4 control-label">To Shift</label>
									<div class="col-sm-7 control-label">
										<input type="radio" name="shift_to" value="Morning" ng-model="fd.shift_to" ng-checked="fd.shift_to == 'Morning'" ng-change="shift_to()"> Morning
										<input type="radio" name="shift_to" value="Night" ng-model="fd.shift_to" ng-checked="fd.shift_to == 'Night'" ng-change="shift_to()"> Night
									</div>
								</div>
								<br/><br/><br/>
								<div class="col-sm-6">
									<label for="nn_chips" class="col-sm-5 control-label">NN Chips</label>
									<div class="col-sm-7">
										<input type="text" id="nn_chips" class="form-control" ng-model="fd.nn_chips" ng-required="true">
									</div>
								</div>
								<div class="col-sm-6">
									<label for="cash_real" class="col-sm-5 control-label">Cash Real</label>
									<div class="col-sm-7">
										<input type="text" id="cash_real" class="form-control" ng-model="fd.cash_real" ng-required="true">
									</div>
								</div>
								<br/><br/><br/>
								<div class="col-sm-6">
									<label for="cash_chips" class="col-sm-5 control-label">Cash Chips</label>
									<div class="col-sm-7">
										<input type="text" id="cash_chips" class="form-control" ng-model="fd.cash_chips" ng-required="true">
									</div>
								</div>
							</div>
						</div>
					
						<div class="form-group col-sm-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success"
									>
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>