<div ng-controller="userHasAccountController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>User Link To Account</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="row">
					  <div class="col-md-12">
						<form ng-submit="form()" class="form-horizontal">
							<div class="form-group col-lg-3" ng-init="getUserOption()">
								<label for="user_id">Manager</label>
								<select id="user_id"  class="form-control" ng-model="fd.user_id" ng-options="user.id as user.name for user in userOption">
								</select>
							</div>
							<div class="form-group col-lg-3" ng-init="getAccountOption()">
								<label for="account_id">Account</label>
								<select id="account_id"  class="form-control" ng-model="fd.account_id" ng-options="account.id as account.name for account in accountOption">
								</select>
							</div>
							<div class="form-group col-lg-1">
								<label>&nbsp;</label><br/>
								<button class=" btn btn-primary"
									type="submit"
									class="btn btn-success" >Save</button>
							</div>
						</form>
					  </div>
					</div>

					<div class="row">
					  <div class="col-md-12">
						<div class="table-responsive" ng-init="getData()" >
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="center-important">No</th>
										<th>Manager</th>
										<th>Account</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="data in listData" ng-include="getTemplate(data)">
									</tr>
								</tbody>
							</table>
							<script type="text/ng-template" id="display">
								<td align="center">{{ $index+1 }}</td>
								<td>{{ data.user.username }}</td>
								<td>{{ data.account.name }}</td>
								<td>
									<button type="button" class="btn btn-xs btn-default" ng-click="edit(data)">
										<i class="glyphicon glyphicon-edit"></i>
									</button>
									<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
									<!-- Delete Modal -->
									<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Delete data<strong></strong></h4>
										  </div>
										  <div class="modal-body">
											<div class="alert alert-danger" role="alert">Are you sure you want to delete this data?</div>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-danger" data-ng-click="delete(data.user_id)" data-dismiss="modal">Delete</button>
										  </div>
										</div>
									  </div>
									</div>
								</td>
							</script>

							<script type="text/ng-template" id="edit">
								<td align="center">{{ $index+1 }}</td>
								<td class="input-group-sm">
									<input type="text" class="form-control input-sm" id="selected_username" name="name_" ng-model="selected.user.name" ng-keyup="$event.keyCode == 13 && editForm(data.user_id)" disabled>
								</td>
								<td class="input-group-sm">
									<select id="selected_account_id"  class="form-control" ng-model="selected.account_id" ng-options="account.id as account.name for account in accountOption">
								</td>
								<td>
									<button type="button" class="btn btn-xs btn-default" ng-click="editForm(data.user_id)">
										<i class="glyphicon glyphicon-floppy-disk"></i>
									</button>
									<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
									<!-- Delete Modal -->
									<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Delete data<strong></strong></h4>
										  </div>
										  <div class="modal-body">
											<div class="alert alert-danger" role="alert">Are you sure you want to delete this data?</div>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-danger" data-ng-click="delete(data.user_id)" data-dismiss="modal">Delete</button>
										  </div>
										</div>
									  </div>
									</div>
								</td>
							</script>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
