<div ng-controller="lockedVisitorController">
    <div class="panel panel-default box">
        <div class="panel-heading"><h3>Manage Blocked Visitors</h3></div>
        <div class="panel-body">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" ng-show="success!=''">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{success}}
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{alert}}
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body" ng-init="loadTable()">
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
									<tr>
										<th>
											IP Address
										</th>
										<th>
											Date Time
										</th>
										<th>
											Action
										</th>
									</tr>
									</thead>

									<tbody>
									<tr ng-repeat="list in lockedVisitorList.data | orderBy:sortType:sortReverse | filter:searchList">
										<td>{{ list.ip_address }}</td>
										<td>{{ list.created_at }}</td>
										<td>
											<!-- Button trigger for Delete modal -->
											<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
											</button>
											<!-- Delete Modal -->
											<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">Unblock IP : <strong>{{ list.ip_address }}</strong></h4>
														</div>
														<div class="modal-body">
															<div class="alert alert-danger" role="alert">Are you sure you want unblock this IP?</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="button" class="btn btn-danger" data-ng-click="delete(list.id)" data-dismiss="modal">Delete</button>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
									</tbody>

								</table>
							</div>
							<div class="col-sm-6">
								<br/>
								Total Page : {{ lockedVisitorList.last_page }} - Total Data : {{ lockedVisitorList.total }}
							</div>
							<div class="col-sm-6" style="text-align:right;">
								<ul class="pagination">
									<li ng-class="{'disabled' : lockedVisitorList.current_page==1}">
										<a href="" ng-show="{{ lockedVisitorList.current_page!=1 }}" aria-label="Previous" ng-click="paging(lockedVisitorList.current_page-1)">
											<span aria-hidden="true">Previous</span>
										</a>
										<span ng-show="{{ lockedVisitorList.current_page==1 }}" aria-hidden="true">Previous</span>
									</li>

									<li ng-repeat="n in range(1,(lockedVisitorList.last_page))" ng-show="showPage(n)" ng-class="{'active':lockedVisitorList.current_page==n}"><a href="" ng-click="paging(n)">{{n}}</a></li>

									<li ng-class="{'disabled' : lockedVisitorList.current_page==lockedVisitorList.last_page}">
										<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(lockedVisitorList.current_page+1)">
											<span aria-hidden="true">Next</span>
										</a>
										<span ng-show="isLastPage()" aria-hidden="true">Next</span>
									</li>
								</ul>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>