<div ng-controller="rolesController">
  <div class="alert alert-danger" role="alert" ng-show="showAlert()">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{alert}}
  </div>
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>User Roles</h3></div>
		<div class="panel-body">
		  <div class="col-sm-12">
			<div class="row" ng-init="getRole()">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="role_option" class="col-sm-1 control-label">Role</label>
						<span class="col-sm-3">
							<select id="role_option" name="role_option" class="form-control" ng-options="role.name for role in roleList track by role.id" ng-model="role_option" ng-change="getMenuRole()">
							</select>
						</span>
					</div>
				</div>
			</div>
			<br/>
			<div ng-init="getMenu()">
				<ul class="nav nav-tabs">
					<li ng-repeat="(key,menu) in menuList" ng-class="{ active: isSet($index+1) }">
						<a href ng-click="setTab($index+1)">{{key|ucwords}}</a>
					</li>
				</ul>
			</div>
			<div ng-repeat="(key,menu) in menuList">
				<div ng-show="isSet($index+1)" class="row">
				  <div class="col-sm-12">
					<br/>
					<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th></th>
								<th>Menu</th>
								<th width="30%">Url</th>
								<th width="30%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(keyChild,child) in menu.menu">
								<td align="center"><input type="checkbox" value="{{keyChild}} read" ng-checked="child.access.read" ng-click="checkRole(key,keyChild,'read',$event)"></td>
								<td>{{child.display_name}}</td>
								<td>{{child.url}}</td>
								<td><span ng-repeat="(action,statusAction) in child.access" ng-if="action!='read'"><input type="checkbox" value="{{keyChild+' '+action}}" ng-checked="statusAction" ng-click="checkRole(key,keyChild,action,$event)"> {{action}}<br/></span></td>
							</tr>
						</tbody>
					</table>
				  </div>
				</div>
			</div>
		  </div>
		</div>
	</div>

	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>
