<div ng-controller="userController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Form User</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">	
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<form id="formdata" class="form-horizontal" name="formdata" method="post" ng-submit="save()" ng-init="getEdit()">
						<div class="form-group">
							<label for="username" class="col-lg-4 control-label">Username</label>
							<div class="col-lg-8">
								<input type="text"
										id="username"
									   class="form-control"
									   ng-model="fd.username"
									   ng-required="true"
									   ng-Readonly="statusEdit">
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-lg-4 control-label">Full Name</label>
							<div class="col-lg-8">
								<input type="text"
									   class="form-control"
									   ng-model="fd.name"
									   ng-required="true">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail" class="col-lg-4 control-label">Email</label>
							<div class="col-lg-8">
								<input type="email"
									   class="form-control"
									   ng-model="fd.email"
									   ng-required="true">
							</div>
						</div>

						<div class="form-group" ng-if="user.roles=='Administrator'">
							<label for="password" class="col-lg-4 control-label">Password</label>
							<div class="col-lg-8">
								<input type="password"
									   class="form-control"
									   ng-model="fd.password"
									   ng-required="!fd.id">
							</div>
						</div>

						<div class="form-group" ng-if="user.roles=='Administrator'">
							<label for="inputEmail" class="col-lg-4 control-label">Password Confirmation</label>
							<div class="col-lg-8">
								<input type="password"
									   class="form-control"
									   ng-model="fd.password_confirmation"
									   ng-required="!fd.id">
							</div>
						</div>

						<div class="form-group" ng-init="getRoles()">
							<label for="inputEmail" class="col-lg-4 control-label">Roles </label>
							<div class="col-lg-8">
								<select name="role" id="role"  class="form-control" ng-model="fd.role" ng-options="role.name as role.name for role in rolesOption" ng-required="true">
								</select>
							</div>
						</div>

						<div class="col-lg-12 form-group" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success">
								Save
							</button>
							<button type="button"
									ng-click="cancel();"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>