<div ng-controller="userController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Manage User</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">	
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>	
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<button id="addUser" type="button" class="btn btn-primary" ng-click="add()">Add User</button>
						</div>
						<div class="panel-body table-responsive" ng-init="loadData()">
							<div style="display:none;">
								<div class="col-sm-12">
									<div class="col-sm-7"></div>
									<div class="col-sm-3"><input type="file" ng-model="upload" ngf-select ngf-accept="'*/*'"></div>
									<div class="col-sm-2"><button type="button" class="btn btn-primary" ng-click="importing()">Upload</button></div>
								</div><br/><hr>
							</div>
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
						        <thead>
						            <tr>
						                <th>Name</th>
						                <th>Email</th>
						                <th>Username</th>
						                <th>Action</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr ng-repeat="valuesData in listData">
						            	<td>{{ valuesData.name }}</td>
						            	<td>{{ valuesData.email }}</td>
						            	<td>{{ valuesData.username }}</td>
						            	<td>
					                        <button class="btn btn-xs btn-default" type="button" ng-click="edit(valuesData.id)">
					                        <i class="glyphicon glyphicon-edit"></i>
					                        </button>
					                        <!-- Button trigger for Delete modal -->
					                        <button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
					                        <i class="glyphicon glyphicon-trash"></i>
					                        </button>
					                        <!-- Delete Modal -->
					                        <div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
					                          <div class="modal-dialog">
					                            <div class="modal-content">
					                              <div class="modal-header">
					                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					                                <h4 class="modal-title" id="myModalLabel">Delete <strong>{{ valuesData.name }}</strong> account</h4>
					                              </div>
					                              <div class="modal-body">
					                                <div class="alert alert-danger" role="alert">Are you sure you want to delete this account?</div>
					                              </div>
					                              <div class="modal-footer">
					                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					                                <button type="button" class="btn btn-danger" data-ng-click="delete(valuesData.id)" data-dismiss="modal">Delete</button>
					                              </div>
					                            </div>
					                          </div>
					                        </div>
					                    </td>
						            </tr>
						        </tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>