<div ng-controller="userActivitiesController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>User Activities</h3></div>
		<div class="panel-body" ng-init="loadTable()">
		   <div class="row">
			<div class="col-sm-offset-9 col-sm-3">
			  <form>
				<div class="form-group">
				  <div class="input-group">
					<div class="input-group-addon"><i class="fa fa-search"></i></div>

					<input type="text" class="form-control" placeholder="Search..." ng-model="searchList">

				  </div>      
				</div>
			  </form>
			</div>
		  </div>
		  <div class="table-responsive">
		  <table class="table table-bordered table-striped">
	
			<thead>
			  <tr>
				<th>
				  <a href="" ng-click="sortType = 'menu'; sortReverse = !sortReverse">
					Menu
					<span ng-show="sortType == 'menu' && !sortReverse" class="fa fa-sort-amount-asc"></span>
					<span ng-show="sortType == 'menu' && sortReverse" class="fa fa-sort-amount-desc"></span>
				  </a>
				</th>
				<th>
				  <a href="" ng-click="sortType = 'activity'; sortReverse = !sortReverse">
					Activity
					<span ng-show="sortType == 'activity' && !sortReverse" class="fa fa-sort-amount-asc"></span>
					<span ng-show="sortType == 'activity' && sortReverse" class="fa fa-sort-amount-desc"></span>
				  </a>
				</th>
				<th>
				  <a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
					Date Time
					<span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-sort-amount-asc"></span>
					<span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-sort-amount-desc"></span>
				  </a>
				</th>
				<th>
				  <a href="" ng-click="sortType = 'user'; sortReverse = !sortReverse">
					User
					<span ng-show="sortType == 'user' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'user' && sortReverse" class="fa fa-sort-amount-desc"></span>
				  </a>
				</th>
			  </tr>
			</thead>
			
			<tbody>
			  <tr ng-repeat="list in userActivitiesList.data | orderBy:sortType:sortReverse | filter:searchList">
				<td>{{ list.menu }}</td>
				<td>{{ list.activity }}</td>
				<td>{{ formatDateTime(list.created_at) }}</td>
				<td>{{ list.user.name }}</td>
			  </tr>
			</tbody>
			
		  </table>
		  </div>
		  <div class="col-sm-6">
			<br/>
				Total Page : {{ userActivitiesList.last_page }} - Total Data : {{ userActivitiesList.total }}
		  </div>
		  <div class="col-sm-6" style="text-align:right;">
			<ul class="pagination">
				<li ng-class="{'disabled' : userActivitiesList.current_page==1}">
					<a href="" ng-show="{{ userActivitiesList.current_page!=1 }}" aria-label="Previous" ng-click="paging(userActivitiesList.current_page-1)">
						<span aria-hidden="true">Previous</span>
					</a>
					<span ng-show="{{ userActivitiesList.current_page==1 }}" aria-hidden="true">Previous</span>
				</li>
				
				<li ng-repeat="n in range(1,(userActivitiesList.last_page))" ng-show="showPage(n)" ng-class="{'active':userActivitiesList.current_page==n}"><a href="" ng-click="paging(n)">{{n}}</a></li>
				
				<li ng-class="{'disabled' : userActivitiesList.current_page==userActivitiesList.last_page}">
					<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(userActivitiesList.current_page+1)">
						<span aria-hidden="true">Next</span>
					</a>
					<span ng-show="isLastPage()" aria-hidden="true">Next</span>
				</li>
			</ul>
		  </div>
		</div>
	</div>
</div>