<div ng-controller="collectionController">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Collection Report</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)" data-toggle="tab">Outstanding</a></li>
							<li ng-class="{active: isSet(2)}"><a href ng-click="setTab(2)" data-toggle="tab">Settle</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane" ng-class="{ active: isSet(1) }">
								<div class="form-horizontal">
									<div class="row">
										<label class="control-label col-sm-2">Start Date</label>
										<div class="col-sm-3">
											<input type="text" class="control-label" ui-date="dateOptions" ng-model="start_date">
										</div>
										<label class="control-label col-sm-2">End Date</label>
										<div class="col-sm-3">
											<input type="text" class="control-label" ui-date="dateOptions" ng-model="end_date">
										</div>
										<div class="col-sm-2">
											<button type="button" class="btn btn-primary" ng-click="loadTable()">Search</button>
											<button type="button" class="btn btn-primary" ng-click="printReport()">Print</button>
										</div>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<tr>
											<th>No</th>
											<th>Name</th>
											<th>Type</th>
											<th>Amount</th>
											<!--th>Settle</th-->
											<th>Ins</th>
											<th>Handle</th>
											<th>Remark</th>
											<th>Date</th>
											<th>Payment Date</th>
										</tr>
										<tr ng-repeat="valuesData in listData">
											<td>{{$index+1}}</td>
											<td>{{valuesData.name}}</td>
											<td>{{valuesData.type}}</td>
											<td align="right">{{valuesData.amount_due | formatCurrency}}</td>
											<!--td align="right">{{valuesData.settle | formatCurrency}}</td-->
											<td align="right">{{valuesData.ins | formatCurrency}}</td>
											<td>{{valuesData.handle}}</td>
											<td>{{valuesData.remark}}</td>
											<td>{{valuesData.date | date: 'dd-MM-yyyy'}}</td>
											<td>{{valuesData.pay_date | date: 'dd-MM-yyyy'}}</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="tab-pane" ng-class="{ active: isSet(2) }">
								<div class="form-horizontal">
									<div class="row">
										<label class="control-label col-sm-2">Start Date</label>
										<div class="col-sm-3">
											<input type="text" class="control-label" ui-date="dateOptions" ng-model="start_date2">
										</div>
										<label class="control-label col-sm-2">End Date</label>
										<div class="col-sm-3">
											<input type="text" class="control-label" ui-date="dateOptions" ng-model="end_date2">
										</div>
										<div class="col-sm-2">
											<button type="button" class="btn btn-primary" ng-click="loadTable(1)">Search</button>
											<button type="button" class="btn btn-primary" ng-click="printReport(1)">Print</button>
										</div>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<tr>
											<th>No</th>
											<th>Name</th>
											<th>Type</th>
											<th>Amount</th>
											<th>Settle</th>
											<th>Ins</th>
											<th>Handle</th>
											<th>Remark</th>
											<th>Date</th>
											<th>Payment Date</th>
										</tr>
										<tr ng-repeat="valuesData in listData2">
											<td>{{$index+1}}</td>
											<td>{{valuesData.name}}</td>
											<td>{{valuesData.type}}</td>
											<td align="right">{{valuesData.amount_due | formatCurrency}}</td>
											<td align="right">{{valuesData.settle | formatCurrency}}</td>
											<td align="right">{{valuesData.ins | formatCurrency}}</td>
											<td>{{valuesData.handle}}</td>
											<td>{{valuesData.remark}}</td>
											<td>{{valuesData.date | date: 'dd-MM-yyyy'}}</td>
											<td>{{valuesData.pay_date | date: 'dd-MM-yyyy'}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>