<div ng-controller="customerReportController" class="panel panel-default">
	<div class="panel-heading"><h3>Final Customer Report</h3></div>
	<div class="panel-body">
		<div class="row">
			<form class="form-horizontal" ng-submit="loadData()">
				<span class="form-group col-md-5">
					<label for="startMonth" class="col-md-3 control-label left-important">Start Date</label>
					<span class="col-md-5">
						<select class="form-control" id="startMonth" name="startMonth" ng-model="startMonth">
							<option value="1">January</option>
							<option value="2">Febuary</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</span>
					<span class="col-md-4"><input type="text" class="form-control" name="startYear" id="startYear" ng-model="startYear"></span>
				</span>
				<span class="form-group col-md-5">
					<label for="startMonth" class="col-md-3 control-label left-important">End Date</label>
					<span class="col-md-5">
						<select class="form-control" id="endMonth" name="endMonth" ng-model="endMonth">
							<option value="1">January</option>
							<option value="2">Febuary</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</span>
					<span class="col-md-4"><input type="text" class="form-control" name="endYear" id="endYear" ng-model="endYear"></span>
				</span>
				<button type="submit" class="btn btn-primary">Search</button>
				<button type="button" class="btn btn-primary" ng-click="printReport()">Print</button>
			</form>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>GRC No</th>
						<th>Customer Name</th>
						<th>Check In %</th>
						<th>NN Chips <br/>Purchased</th>
						<th>Commission <br/>(NN Chips)</th>
						<th>Table Rolling <br/>(Cash Chips)</th>
						<th>Commission <br/>(Cash Chips)</th>
						<th>Total <br/>Commission Due</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in listData.data">
						<td>{{ data.date | date: 'dd-MM-yyyy' }}</td>
						<td>{{ data.grc_number }}</td>
						<td>{{ data.customer_name }}</td>
						<td align="right">{{ data.check_in_commission | formatCurrency }}</td>
						<td align="right">{{ data.p_amount | formatCurrency }}</td>
						<td align="right">{{ data.check_in_commision | formatCurrency }}</td>
						<td align="right">{{ data.cash_chip | formatCurrency }}</td>
						<td align="right">{{ data.cash_chip_commission | formatCurrency }}</td>
						<td align="right">{{ data.total | formatCurrency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>