<div ng-controller="finalController">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Final Report</h3>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<label class="control-label col-sm-2">Date</label>
					<div class="col-sm-3">
						<input type="text" class="control-label" ui-date="dateOptions" ng-model="date">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary" ng-click="printReport()">Print</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>