<div ng-controller="managerController">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Manager Report</h3>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<label class="control-label col-sm-2">Date</label>
					<div class="col-sm-3">
						<input type="text" class="control-label" ui-date="dateOptions" ng-model="date">
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-primary" ng-click="loadTable()">Search</button>
						<button type="button" class="btn btn-primary" ng-click="printReport()">Print</button>
					</div>
				</div>
			</div><br/>
			<div class="table-responsive" ng-init="limitation=0;inde=0;">
				<div ng-repeat="valuesData in listData">
					<div class="col-sm-6" ng-repeat="i in range(1,valuesData.ceil)">
						<h4>{{valuesData.name}}</h4>
						<table class="table table-striped table-bordered" ng-init="limitation=19*i-19;inde=19*i-19;">
							<tr>
								<th>No</th>
								<th>Name</th>
								<th>In</th>
								<th>Out</th>
								<th>Remark</th>
							</tr>
							<tr ng-repeat="j in range(0,20)">
								<td align="center" ng-if="j<19">{{j}}</td>
								<td ng-if="j<19">{{valuesData.details[inde+j].name}}</td>
								<td align="right" ng-if="j<19">{{valuesData.details[inde+j].balancein | formatCurrency}}</td>
								<td align="right" ng-if="j<19">{{valuesData.details[inde+j].balanceout | formatCurrency}}</td>
								<td ng-if="j<19">{{valuesData.details[inde+j].remark}}</td>
								
								<td ng-if="j==19"></td>
								<td ng-if="j==19">Total</td>
								<td align="right" ng-if="j==19">{{ valuesData.debit[i-1] | formatCurrency }}</td>
								<td align="right" ng-if="j==19">{{ valuesData.credit[i-1] | formatCurrency }}</td>
								<td ng-if="j==19"></td>
								
								<td ng-if="j==20"></td>
								<td ng-if="j==20">Balance</td>
								<td align="right" ng-if="j==20">{{ valuesData.balance[i-1] | formatCurrency }}</td>
								<td align="right" ng-if="j==20"></td>
								<td ng-if="j==20"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>