<div ng-controller="rollingReportController" class="panel panel-default">
	<div class="panel-heading"><h3>Rolling Report</h3></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)" data-toggle="tab">Rolling</a></li>
						<li ng-class="{active: isSet(2)}"><a href ng-click="setTab(2)" data-toggle="tab">Rolling 2</a></li>
						<li ng-class="{active: isSet(3)}"><a href ng-click="setTab(3)" data-toggle="tab">Rolling 3</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" ng-class="{ active: isSet(1) }">
							<div class="row">
								<form class="form-horizontal" ng-submit="loadData()">
									<span class="form-group col-md-4">
										<label for="start_date" class="col-md-5 control-label left-important">Start Date</label>
										<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="start_date" id="start_date" ng-model="start_date"></span>
									</span>
									<span class="form-group col-md-4">
										<label for="end_date" class="col-md-5 control-label left-important">End Date</label>
										<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="end_date" id="end_date" ng-model="end_date"></span>
									</span>
									<button type="submit" class="btn btn-primary">Search</button>
									<button type="button" class="btn btn-primary" ng-click="printReport()">Print</button>
								</form>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Date</th>
											<th>Customer Name</th>
											<th>Runner</th>
											<th>Rolling</th>
											<th>Commission</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listData.data">
											<td>{{ data.date | date: 'dd-MM-yyyy' }}</td>
											<td>{{ data.customer_name }}</td>
											<td>{{ data.name }}</td>
											<td align="right">{{ data.rolling | formatCurrency }}</td>
											<td align="right">{{ data.check_in_commision | formatCurrency }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane" ng-class="{ active: isSet(2) }">
							<div class="row">
								<form class="form-horizontal" ng-submit="loadData3()">
									<span class="form-group col-md-4">
										<label for="start_date2" class="col-md-5 control-label left-important">Start Date</label>
										<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="start_date3" id="start_date3" ng-model="start_date3"></span>
									</span>
									<span class="form-group col-md-4">
										<label for="end_date2" class="col-md-5 control-label left-important">End Date</label>
										<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="end_date3" id="end_date3" ng-model="end_date3"></span>
									</span>
									<button type="submit" class="btn btn-primary">Search</button>
									<button type="button" class="btn btn-primary" ng-click="printReport3()">Print</button>
								</form>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Date</th>
											<th>Runner</th>
											<th>Customer Name</th>
											<th>Rolling</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listData3.data">
											<td>{{ data.date | date: 'dd-MM-yyyy' }}</td>
											<td>{{ data.user_name }}</td>
											<td>{{ data.customer_name }}</td>
											<td align="right">{{ data.rolling | formatCurrency }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane" ng-class="{ active: isSet(3) }">
							<div class="row">
								<form class="form-horizontal" ng-submit="loadData2()">
									<span class="form-group col-md-4">
										<label for="start_date2" class="col-md-5 control-label left-important">Start Date</label>
										<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="start_date2" id="start_date2" ng-model="start_date2"></span>
									</span>
									<span class="form-group col-md-4">
										<label for="end_date2" class="col-md-5 control-label left-important">End Date</label>
										<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="end_date2" id="end_date2" ng-model="end_date2"></span>
									</span>
									<button type="submit" class="btn btn-primary">Search</button>
									<button type="button" class="btn btn-primary" ng-click="printReport2()">Print</button>
								</form>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Date</th>
											<th>Runner</th>
											<th>Customer Name</th>
											<th>Bet</th>
											<th>Odds</th>
											<th>Insurance</th>
											<th>Scenario</th>
											<th>Room</th>
											<th>GL</th>
											<th>Agent</th>
											<th>PP</th>
											<th>Other</th>
											<th>Result</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listData2">
											<td>{{ data.date | date: 'dd-MM-yyyy' }}</td>
											<td>{{ data.name }}</td>
											<td>{{ data.customer_name }}</td>
											<td align="right">{{ data.rolling | formatCurrency }}</td>
											<td align="right">{{ data.odds | formatCurrency }}</td>
											<td align="right">{{ data.insurance | formatCurrency }}</td>
											<td align="right">{{ data.status }}</td>
											<td align="right">{{ data.room }}</td>
											<td align="right">{{ data.gl | formatCurrency }}</td>
											<td align="right">{{ data.agent_share | formatCurrency }}</td>
											<td align="right">{{ data.pp | formatCurrency }}</td>
											<td align="right">{{ data.other | formatCurrency }}</td>
											<td align="right">{{ data.scenario }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>